/*
支付宝开放平台API

支付宝开放平台v3协议文档

API version: 2024-07-05
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package alipay

import (
	"bytes"
	"context"
	"fmt"
	"io"
	"net/http"
	"net/url"
	"strconv"
	"time"
)

// AlipayDataBillSellAPIService AlipayDataBillSellAPI service
type AlipayDataBillSellAPIService service

type ApiAlipayDataBillSellQueryRequest struct {
	ctx             context.Context
	ApiService      *AlipayDataBillSellAPIService
	startTime       *string
	endTime         *string
	alipayOrderNo   *string
	merchantOrderNo *string
	storeNo         *string
	pageNo          *string
	pageSize        *string
}

// 卖出交易流水创建时间的起始范围
func (r ApiAlipayDataBillSellQueryRequest) StartTime(startTime string) ApiAlipayDataBillSellQueryRequest {
	r.startTime = &startTime
	return r
}

// 卖出交易流水创建时间的结束范围。与起始时间间隔不超过31天。查询结果为起始时间至结束时间的左闭右开区间
func (r ApiAlipayDataBillSellQueryRequest) EndTime(endTime string) ApiAlipayDataBillSellQueryRequest {
	r.endTime = &endTime
	return r
}

// 支付宝交易流水号。如果查询参数中指定流水号，则只查询流水号相关的记录
func (r ApiAlipayDataBillSellQueryRequest) AlipayOrderNo(alipayOrderNo string) ApiAlipayDataBillSellQueryRequest {
	r.alipayOrderNo = &alipayOrderNo
	return r
}

// 商户交易号。如果查询参数中指定交易号，则只查询相关的记录
func (r ApiAlipayDataBillSellQueryRequest) MerchantOrderNo(merchantOrderNo string) ApiAlipayDataBillSellQueryRequest {
	r.merchantOrderNo = &merchantOrderNo
	return r
}

// 门店编号，模糊搜索
func (r ApiAlipayDataBillSellQueryRequest) StoreNo(storeNo string) ApiAlipayDataBillSellQueryRequest {
	r.storeNo = &storeNo
	return r
}

// 分页号，从1开始
func (r ApiAlipayDataBillSellQueryRequest) PageNo(pageNo string) ApiAlipayDataBillSellQueryRequest {
	r.pageNo = &pageNo
	return r
}

// 分页大小1000-2000，默认2000
func (r ApiAlipayDataBillSellQueryRequest) PageSize(pageSize string) ApiAlipayDataBillSellQueryRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiAlipayDataBillSellQueryRequest) Execute() (*AlipayDataBillSellQueryResponseModel, *http.Response, error) {
	return r.ApiService.AlipayDataBillSellQueryExecute(r)
}

/*
AlipayDataBillSellQuery 支付宝商家账户卖出交易查询

为支付宝商家提供支付宝账户卖出交易信息，供对账使用。

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiAlipayDataBillSellQueryRequest
*/
func (r *AlipayDataBillSellAPIService) AlipayDataBillSellQuery(ctx context.Context) ApiAlipayDataBillSellQueryRequest {
	return ApiAlipayDataBillSellQueryRequest{
		ApiService: r,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AlipayDataBillSellQueryResponseModel
func (a *AlipayDataBillSellAPIService) AlipayDataBillSellQueryExecute(r ApiAlipayDataBillSellQueryRequest) (*AlipayDataBillSellQueryResponseModel, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AlipayDataBillSellQueryResponseModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AlipayDataBillSellAPIService.AlipayDataBillSellQuery")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/alipay/data/bill/sell/query"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.startTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_time", r.startTime, "form", "")
	}
	if r.endTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_time", r.endTime, "form", "")
	}
	if r.alipayOrderNo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "alipay_order_no", r.alipayOrderNo, "form", "")
	}
	if r.merchantOrderNo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "merchant_order_no", r.merchantOrderNo, "form", "")
	}
	if r.storeNo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "store_no", r.storeNo, "form", "")
	}
	if r.pageNo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_no", r.pageNo, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "form", "")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// Add signing logic
	err = a.signRequest(req)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	// Add verification logic
	err = a.verifyResponse(localVarHTTPResponse, localVarBody)
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v AlipayDataBillSellQueryDefaultResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

func (a *AlipayDataBillSellAPIService) signRequest(req *http.Request) error {
	appID := a.client.cfg.AppID
	appCertSN := a.client.cfg.AppCertSN
	privateKey := a.client.cfg.PrivateKey

	nonce := generateUUID()
	timestamp := strconv.FormatInt(time.Now().UnixNano()/1e6, 10)

	authString := fmt.Sprintf("app_id=%s", appID)
	if appCertSN != "" {
		authString += fmt.Sprintf(",app_cert_sn=%s", appCertSN)
	}
	authString += fmt.Sprintf(",nonce=%s,timestamp=%s", nonce, timestamp)

	httpMethod := req.Method
	httpRequestUri := req.URL.Path
	if req.URL.RawQuery != "" {
		httpRequestUri += "?" + req.URL.RawQuery
	}

	var httpRequestBody string
	if req.Body != nil {
		bodyBytes, err := io.ReadAll(req.Body)
		if err != nil {
			return err
		}
		httpRequestBody = string(bodyBytes)
		req.Body = io.NopCloser(bytes.NewBuffer(bodyBytes))
	}

	content := authString + "\n" +
		httpMethod + "\n" +
		httpRequestUri + "\n" +
		httpRequestBody + "\n"

	if appAuthToken := req.Header.Get("alipay-app-auth-token"); appAuthToken != "" {
		content += appAuthToken + "\n"
	}

	signature, err := signWithRSA(content, privateKey)
	if err != nil {
		return err
	}

	req.Header.Set("Authorization", fmt.Sprintf("ALIPAY-SHA256withRSA %s,sign=%s", authString, signature))
	return nil
}

func (a *AlipayDataBillSellAPIService) verifyResponse(resp *http.Response, body []byte) error {
	timestamp := resp.Header.Get("alipay-timestamp")
	nonce := resp.Header.Get("alipay-nonce")
	sign := resp.Header.Get("alipay-signature")

	content := timestamp + "\n" +
		nonce + "\n" +
		string(body) + "\n"

	publicKey := a.client.cfg.PublicKey

	return verifyWithRSA(content, sign, publicKey)
}
