/*
支付宝开放平台API

支付宝开放平台v3协议文档

API version: 2024-07-05
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package alipay

import (
	"bytes"
	"context"
	"fmt"
	"io"
	"net/http"
	"net/url"
	"strconv"
	"time"
)

// AlipayOpenSearchAppkeywordAPIService AlipayOpenSearchAppkeywordAPI service
type AlipayOpenSearchAppkeywordAPIService service

type ApiAlipayOpenSearchAppkeywordApplyRequest struct {
	ctx                                  context.Context
	ApiService                           *AlipayOpenSearchAppkeywordAPIService
	alipayOpenSearchAppkeywordApplyModel *AlipayOpenSearchAppkeywordApplyModel
}

func (r ApiAlipayOpenSearchAppkeywordApplyRequest) AlipayOpenSearchAppkeywordApplyModel(alipayOpenSearchAppkeywordApplyModel AlipayOpenSearchAppkeywordApplyModel) ApiAlipayOpenSearchAppkeywordApplyRequest {
	r.alipayOpenSearchAppkeywordApplyModel = &alipayOpenSearchAppkeywordApplyModel
	return r
}

func (r ApiAlipayOpenSearchAppkeywordApplyRequest) Execute() (*AlipayOpenSearchAppkeywordApplyResponseModel, *http.Response, error) {
	return r.ApiService.AlipayOpenSearchAppkeywordApplyExecute(r)
}

/*
AlipayOpenSearchAppkeywordApply 提报搜索关键词

提报搜索关键词

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiAlipayOpenSearchAppkeywordApplyRequest
*/
func (r *AlipayOpenSearchAppkeywordAPIService) AlipayOpenSearchAppkeywordApply(ctx context.Context) ApiAlipayOpenSearchAppkeywordApplyRequest {
	return ApiAlipayOpenSearchAppkeywordApplyRequest{
		ApiService: r,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AlipayOpenSearchAppkeywordApplyResponseModel
func (a *AlipayOpenSearchAppkeywordAPIService) AlipayOpenSearchAppkeywordApplyExecute(r ApiAlipayOpenSearchAppkeywordApplyRequest) (*AlipayOpenSearchAppkeywordApplyResponseModel, *http.Response, error) {
	err := a.client.prepareConfig()
	if err != nil {
		return nil, nil, &GenericOpenAPIError{error: err.Error()}
	}
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AlipayOpenSearchAppkeywordApplyResponseModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AlipayOpenSearchAppkeywordAPIService.AlipayOpenSearchAppkeywordApply")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/alipay/open/search/appkeyword/apply"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.alipayOpenSearchAppkeywordApplyModel

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// Add signing logic
	err = a.signRequest(req)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	// Add verification logic
	err = a.verifyResponse(localVarHTTPResponse, localVarBody)
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v AlipayOpenSearchAppkeywordApplyDefaultResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAlipayOpenSearchAppkeywordBatchqueryRequest struct {
	ctx         context.Context
	ApiService  *AlipayOpenSearchAppkeywordAPIService
	targetAppid *string
	status      *string
	pageNumber  *int32
	pageSize    *int32
}

// 小程序id
func (r ApiAlipayOpenSearchAppkeywordBatchqueryRequest) TargetAppid(targetAppid string) ApiAlipayOpenSearchAppkeywordBatchqueryRequest {
	r.targetAppid = &targetAppid
	return r
}

// 关键词的状态，枚举值，不传该字段表示查询所有状态
func (r ApiAlipayOpenSearchAppkeywordBatchqueryRequest) Status(status string) ApiAlipayOpenSearchAppkeywordBatchqueryRequest {
	r.status = &status
	return r
}

// 当前页
func (r ApiAlipayOpenSearchAppkeywordBatchqueryRequest) PageNumber(pageNumber int32) ApiAlipayOpenSearchAppkeywordBatchqueryRequest {
	r.pageNumber = &pageNumber
	return r
}

// 每页显示条数
func (r ApiAlipayOpenSearchAppkeywordBatchqueryRequest) PageSize(pageSize int32) ApiAlipayOpenSearchAppkeywordBatchqueryRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiAlipayOpenSearchAppkeywordBatchqueryRequest) Execute() (*AlipayOpenSearchAppkeywordBatchqueryResponseModel, *http.Response, error) {
	return r.ApiService.AlipayOpenSearchAppkeywordBatchqueryExecute(r)
}

/*
AlipayOpenSearchAppkeywordBatchquery 查询小程序已配置关键词

查询小程序已配置关键词

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiAlipayOpenSearchAppkeywordBatchqueryRequest
*/
func (r *AlipayOpenSearchAppkeywordAPIService) AlipayOpenSearchAppkeywordBatchquery(ctx context.Context) ApiAlipayOpenSearchAppkeywordBatchqueryRequest {
	return ApiAlipayOpenSearchAppkeywordBatchqueryRequest{
		ApiService: r,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AlipayOpenSearchAppkeywordBatchqueryResponseModel
func (a *AlipayOpenSearchAppkeywordAPIService) AlipayOpenSearchAppkeywordBatchqueryExecute(r ApiAlipayOpenSearchAppkeywordBatchqueryRequest) (*AlipayOpenSearchAppkeywordBatchqueryResponseModel, *http.Response, error) {
	err := a.client.prepareConfig()
	if err != nil {
		return nil, nil, &GenericOpenAPIError{error: err.Error()}
	}
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AlipayOpenSearchAppkeywordBatchqueryResponseModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AlipayOpenSearchAppkeywordAPIService.AlipayOpenSearchAppkeywordBatchquery")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/alipay/open/search/appkeyword/batchquery"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.targetAppid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "target_appid", r.targetAppid, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.pageNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_number", r.pageNumber, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "form", "")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// Add signing logic
	err = a.signRequest(req)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	// Add verification logic
	err = a.verifyResponse(localVarHTTPResponse, localVarBody)
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v AlipayOpenSearchAppkeywordBatchqueryDefaultResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAlipayOpenSearchAppkeywordDeleteRequest struct {
	ctx                                   context.Context
	ApiService                            *AlipayOpenSearchAppkeywordAPIService
	alipayOpenSearchAppkeywordDeleteModel *AlipayOpenSearchAppkeywordDeleteModel
}

func (r ApiAlipayOpenSearchAppkeywordDeleteRequest) AlipayOpenSearchAppkeywordDeleteModel(alipayOpenSearchAppkeywordDeleteModel AlipayOpenSearchAppkeywordDeleteModel) ApiAlipayOpenSearchAppkeywordDeleteRequest {
	r.alipayOpenSearchAppkeywordDeleteModel = &alipayOpenSearchAppkeywordDeleteModel
	return r
}

func (r ApiAlipayOpenSearchAppkeywordDeleteRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.AlipayOpenSearchAppkeywordDeleteExecute(r)
}

/*
AlipayOpenSearchAppkeywordDelete 删除搜索关键词

删除搜索关键词

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiAlipayOpenSearchAppkeywordDeleteRequest
*/
func (r *AlipayOpenSearchAppkeywordAPIService) AlipayOpenSearchAppkeywordDelete(ctx context.Context) ApiAlipayOpenSearchAppkeywordDeleteRequest {
	return ApiAlipayOpenSearchAppkeywordDeleteRequest{
		ApiService: r,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *AlipayOpenSearchAppkeywordAPIService) AlipayOpenSearchAppkeywordDeleteExecute(r ApiAlipayOpenSearchAppkeywordDeleteRequest) (map[string]interface{}, *http.Response, error) {
	err := a.client.prepareConfig()
	if err != nil {
		return nil, nil, &GenericOpenAPIError{error: err.Error()}
	}
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AlipayOpenSearchAppkeywordAPIService.AlipayOpenSearchAppkeywordDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/alipay/open/search/appkeyword/delete"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.alipayOpenSearchAppkeywordDeleteModel

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// Add signing logic
	err = a.signRequest(req)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	// Add verification logic
	err = a.verifyResponse(localVarHTTPResponse, localVarBody)
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v AlipayOpenSearchAppkeywordDeleteDefaultResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAlipayOpenSearchAppkeywordQuerystatusRequest struct {
	ctx         context.Context
	ApiService  *AlipayOpenSearchAppkeywordAPIService
	targetAppid *string
	applyNo     *string
}

// 小程序id
func (r ApiAlipayOpenSearchAppkeywordQuerystatusRequest) TargetAppid(targetAppid string) ApiAlipayOpenSearchAppkeywordQuerystatusRequest {
	r.targetAppid = &targetAppid
	return r
}

// 审核工单id，提报接口的返回值
func (r ApiAlipayOpenSearchAppkeywordQuerystatusRequest) ApplyNo(applyNo string) ApiAlipayOpenSearchAppkeywordQuerystatusRequest {
	r.applyNo = &applyNo
	return r
}

func (r ApiAlipayOpenSearchAppkeywordQuerystatusRequest) Execute() (*AlipayOpenSearchAppkeywordQuerystatusResponseModel, *http.Response, error) {
	return r.ApiService.AlipayOpenSearchAppkeywordQuerystatusExecute(r)
}

/*
AlipayOpenSearchAppkeywordQuerystatus 查询小程序搜索关键词的审核工单的状态

查询小程序搜索关键词的审核工单的状态

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiAlipayOpenSearchAppkeywordQuerystatusRequest
*/
func (r *AlipayOpenSearchAppkeywordAPIService) AlipayOpenSearchAppkeywordQuerystatus(ctx context.Context) ApiAlipayOpenSearchAppkeywordQuerystatusRequest {
	return ApiAlipayOpenSearchAppkeywordQuerystatusRequest{
		ApiService: r,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AlipayOpenSearchAppkeywordQuerystatusResponseModel
func (a *AlipayOpenSearchAppkeywordAPIService) AlipayOpenSearchAppkeywordQuerystatusExecute(r ApiAlipayOpenSearchAppkeywordQuerystatusRequest) (*AlipayOpenSearchAppkeywordQuerystatusResponseModel, *http.Response, error) {
	err := a.client.prepareConfig()
	if err != nil {
		return nil, nil, &GenericOpenAPIError{error: err.Error()}
	}
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AlipayOpenSearchAppkeywordQuerystatusResponseModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AlipayOpenSearchAppkeywordAPIService.AlipayOpenSearchAppkeywordQuerystatus")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/alipay/open/search/appkeyword/querystatus"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.targetAppid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "target_appid", r.targetAppid, "form", "")
	}
	if r.applyNo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "apply_no", r.applyNo, "form", "")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// Add signing logic
	err = a.signRequest(req)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	// Add verification logic
	err = a.verifyResponse(localVarHTTPResponse, localVarBody)
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v AlipayOpenSearchAppkeywordQuerystatusDefaultResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

func (a *AlipayOpenSearchAppkeywordAPIService) signRequest(req *http.Request) error {
	appID := a.client.cfg.AppID
	appCertSN := a.client.cfg.AppCertSN
	nonce := generateUUID()
	timestamp := strconv.FormatInt(time.Now().UnixNano()/1e6, 10)

	authString := fmt.Sprintf("app_id=%s", appID)
	if appCertSN != "" {
		authString += fmt.Sprintf(",app_cert_sn=%s", appCertSN)
	}
	authString += fmt.Sprintf(",nonce=%s,timestamp=%s", nonce, timestamp)

	httpMethod := req.Method
	httpRequestUri := req.URL.Path
	if req.URL.RawQuery != "" {
		httpRequestUri += "?" + req.URL.RawQuery
	}

	var httpRequestBody string
	if req.Body != nil {
		bodyBytes, err := io.ReadAll(req.Body)
		if err != nil {
			return err
		}
		httpRequestBody = string(bodyBytes)
		req.Body = io.NopCloser(bytes.NewBuffer(bodyBytes))
	}

	content := authString + "\n" +
		httpMethod + "\n" +
		httpRequestUri + "\n" +
		httpRequestBody + "\n"

	if appAuthToken := req.Header.Get("alipay-app-auth-token"); appAuthToken != "" {
		content += appAuthToken + "\n"
	}

	signature, err := signWithRSA(content, a.client.cfg.privateKey)
	if err != nil {
		return err
	}

	req.Header.Set("Authorization", fmt.Sprintf("ALIPAY-SHA256withRSA %s,sign=%s", authString, signature))
	return nil
}

func (a *AlipayOpenSearchAppkeywordAPIService) verifyResponse(resp *http.Response, body []byte) error {
	timestamp := resp.Header.Get("alipay-timestamp")
	nonce := resp.Header.Get("alipay-nonce")
	sign := resp.Header.Get("alipay-signature")

	content := timestamp + "\n" +
		nonce + "\n" +
		string(body) + "\n"

	return verifyWithRSA(content, sign, a.client.cfg.publicKey)
}
