/*
支付宝开放平台API

支付宝开放平台v3协议文档

API version: 2024-07-05
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"fmt"
	"io"
	"net/http"
	"net/url"
	"strconv"
	"time"
)


// AntMerchantExpandApprecommendAccountAPIService AntMerchantExpandApprecommendAccountAPI service
type AntMerchantExpandApprecommendAccountAPIService service

type ApiAntMerchantExpandApprecommendAccountCreateRequest struct {
	ctx context.Context
	ApiService *AntMerchantExpandApprecommendAccountAPIService
	antMerchantExpandApprecommendAccountCreateModel *AntMerchantExpandApprecommendAccountCreateModel
}

func (r ApiAntMerchantExpandApprecommendAccountCreateRequest) AntMerchantExpandApprecommendAccountCreateModel(antMerchantExpandApprecommendAccountCreateModel AntMerchantExpandApprecommendAccountCreateModel) ApiAntMerchantExpandApprecommendAccountCreateRequest {
	r.antMerchantExpandApprecommendAccountCreateModel = &antMerchantExpandApprecommendAccountCreateModel
	return r
}

func (r ApiAntMerchantExpandApprecommendAccountCreateRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.AntMerchantExpandApprecommendAccountCreateExecute(r)
}

/*
AntMerchantExpandApprecommendAccountCreate 关联账号和小程序

将账号与小程序进行绑定，用于支付推荐场景

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAntMerchantExpandApprecommendAccountCreateRequest
*/
func (r *AntMerchantExpandApprecommendAccountAPIService) AntMerchantExpandApprecommendAccountCreate(ctx context.Context) ApiAntMerchantExpandApprecommendAccountCreateRequest {
	return ApiAntMerchantExpandApprecommendAccountCreateRequest{
		ApiService: r,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *AntMerchantExpandApprecommendAccountAPIService) AntMerchantExpandApprecommendAccountCreateExecute(r ApiAntMerchantExpandApprecommendAccountCreateRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AntMerchantExpandApprecommendAccountAPIService.AntMerchantExpandApprecommendAccountCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/ant/merchant/expand/apprecommend/account/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}



	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.antMerchantExpandApprecommendAccountCreateModel

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// Add signing logic
	err = a.signRequest(req)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	// Add verification logic
	err = a.verifyResponse(localVarHTTPResponse, localVarBody)
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v AntMerchantExpandApprecommendAccountCreateDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}


type ApiAntMerchantExpandApprecommendAccountDeleteRequest struct {
	ctx context.Context
	ApiService *AntMerchantExpandApprecommendAccountAPIService
	appNo *string
	accNo *string
}

// 待解绑小程序的app_id
func (r ApiAntMerchantExpandApprecommendAccountDeleteRequest) AppNo(appNo string) ApiAntMerchantExpandApprecommendAccountDeleteRequest {
	r.appNo = &appNo
	return r
}

// 待解绑账号PID
func (r ApiAntMerchantExpandApprecommendAccountDeleteRequest) AccNo(accNo string) ApiAntMerchantExpandApprecommendAccountDeleteRequest {
	r.accNo = &accNo
	return r
}

func (r ApiAntMerchantExpandApprecommendAccountDeleteRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.AntMerchantExpandApprecommendAccountDeleteExecute(r)
}

/*
AntMerchantExpandApprecommendAccountDelete 取消关联账号和小程序

取消账号与小程序的绑定，用于支付推荐场景

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAntMerchantExpandApprecommendAccountDeleteRequest
*/
func (r *AntMerchantExpandApprecommendAccountAPIService) AntMerchantExpandApprecommendAccountDelete(ctx context.Context) ApiAntMerchantExpandApprecommendAccountDeleteRequest {
	return ApiAntMerchantExpandApprecommendAccountDeleteRequest{
		ApiService: r,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *AntMerchantExpandApprecommendAccountAPIService) AntMerchantExpandApprecommendAccountDeleteExecute(r ApiAntMerchantExpandApprecommendAccountDeleteRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AntMerchantExpandApprecommendAccountAPIService.AntMerchantExpandApprecommendAccountDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/ant/merchant/expand/apprecommend/account/delete"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}


	if r.appNo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "app_no", r.appNo, "form", "")
	}
	if r.accNo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "acc_no", r.accNo, "form", "")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// Add signing logic
	err = a.signRequest(req)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	// Add verification logic
	err = a.verifyResponse(localVarHTTPResponse, localVarBody)
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v AntMerchantExpandApprecommendAccountDeleteDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}


type ApiAntMerchantExpandApprecommendAccountQueryRequest struct {
	ctx context.Context
	ApiService *AntMerchantExpandApprecommendAccountAPIService
	appNo *string
	pageSize *int32
	pageNumber *int32
}

// 已关联小程序的app_id
func (r ApiAntMerchantExpandApprecommendAccountQueryRequest) AppNo(appNo string) ApiAntMerchantExpandApprecommendAccountQueryRequest {
	r.appNo = &appNo
	return r
}

// 单页行数，不能超过100行，单位：行
func (r ApiAntMerchantExpandApprecommendAccountQueryRequest) PageSize(pageSize int32) ApiAntMerchantExpandApprecommendAccountQueryRequest {
	r.pageSize = &pageSize
	return r
}

// 页码
func (r ApiAntMerchantExpandApprecommendAccountQueryRequest) PageNumber(pageNumber int32) ApiAntMerchantExpandApprecommendAccountQueryRequest {
	r.pageNumber = &pageNumber
	return r
}

func (r ApiAntMerchantExpandApprecommendAccountQueryRequest) Execute() (*AntMerchantExpandApprecommendAccountQueryResponseModel, *http.Response, error) {
	return r.ApiService.AntMerchantExpandApprecommendAccountQueryExecute(r)
}

/*
AntMerchantExpandApprecommendAccountQuery 查询已关联指定APP的账号列表

查询已关联指定APP的账号列表，用于支付推荐场景

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAntMerchantExpandApprecommendAccountQueryRequest
*/
func (r *AntMerchantExpandApprecommendAccountAPIService) AntMerchantExpandApprecommendAccountQuery(ctx context.Context) ApiAntMerchantExpandApprecommendAccountQueryRequest {
	return ApiAntMerchantExpandApprecommendAccountQueryRequest{
		ApiService: r,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AntMerchantExpandApprecommendAccountQueryResponseModel
func (a *AntMerchantExpandApprecommendAccountAPIService) AntMerchantExpandApprecommendAccountQueryExecute(r ApiAntMerchantExpandApprecommendAccountQueryRequest) (*AntMerchantExpandApprecommendAccountQueryResponseModel, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AntMerchantExpandApprecommendAccountQueryResponseModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AntMerchantExpandApprecommendAccountAPIService.AntMerchantExpandApprecommendAccountQuery")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/ant/merchant/expand/apprecommend/account/query"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}


	if r.appNo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "app_no", r.appNo, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "form", "")
	}
	if r.pageNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_number", r.pageNumber, "form", "")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// Add signing logic
	err = a.signRequest(req)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	// Add verification logic
	err = a.verifyResponse(localVarHTTPResponse, localVarBody)
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v AntMerchantExpandApprecommendAccountQueryDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}


func (a *AntMerchantExpandApprecommendAccountAPIService) signRequest(req *http.Request) error {
	appID := a.client.cfg.AppID
	appCertSN := a.client.cfg.AppCertSN
	privateKey := a.client.cfg.PrivateKey

	nonce := generateUUID()
	timestamp := strconv.FormatInt(time.Now().UnixNano()/1e6, 10)

	authString := fmt.Sprintf("app_id=%s", appID)
	if appCertSN != "" {
		authString += fmt.Sprintf(",app_cert_sn=%s", appCertSN)
	}
	authString += fmt.Sprintf(",nonce=%s,timestamp=%s", nonce, timestamp)

	httpMethod := req.Method
	httpRequestUri := req.URL.Path
	if req.URL.RawQuery != "" {
		httpRequestUri += "?" + req.URL.RawQuery
	}

	var httpRequestBody string
	if req.Body != nil {
		bodyBytes, err := io.ReadAll(req.Body)
		if err != nil {
			return err
		}
		httpRequestBody = string(bodyBytes)
		req.Body = io.NopCloser(bytes.NewBuffer(bodyBytes))
	}

	content := authString + "\n" +
		httpMethod + "\n" +
		httpRequestUri + "\n" +
		httpRequestBody + "\n"

	if appAuthToken := req.Header.Get("alipay-app-auth-token"); appAuthToken != "" {
		content += appAuthToken + "\n"
	}

	signature, err := signWithRSA(content, privateKey)
	if err != nil {
		return err
	}

	req.Header.Set("Authorization", fmt.Sprintf("ALIPAY-SHA256withRSA %s,sign=%s", authString, signature))
	return nil
}

func (a *AntMerchantExpandApprecommendAccountAPIService) verifyResponse(resp *http.Response, body []byte) error {
	timestamp := resp.Header.Get("alipay-timestamp")
	nonce := resp.Header.Get("alipay-nonce")
	sign := resp.Header.Get("alipay-signature")

	content := timestamp + "\n" +
		nonce + "\n" +
		string(body) + "\n"

	publicKey := a.client.cfg.PublicKey

	return verifyWithRSA(content, sign, publicKey)
}


