/*
支付宝开放平台API

支付宝开放平台v3协议文档

API version: 2024-07-05
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"fmt"
	"io"
	"net/http"
	"net/url"
	"strconv"
	"time"
)


// AlipayOpenMiniInnerversionUploadstatusAPIService AlipayOpenMiniInnerversionUploadstatusAPI service
type AlipayOpenMiniInnerversionUploadstatusAPIService service

type ApiAlipayOpenMiniInnerversionUploadstatusQueryRequest struct {
	ctx context.Context
	ApiService *AlipayOpenMiniInnerversionUploadstatusAPIService
	buildPackageId *string
	miniAppId *string
	buildVersion *string
	instCode *string
	bundleId *string
}

// 包管理ID，用于查询打包状态
func (r ApiAlipayOpenMiniInnerversionUploadstatusQueryRequest) BuildPackageId(buildPackageId string) ApiAlipayOpenMiniInnerversionUploadstatusQueryRequest {
	r.buildPackageId = &buildPackageId
	return r
}

// 小程序ID
func (r ApiAlipayOpenMiniInnerversionUploadstatusQueryRequest) MiniAppId(miniAppId string) ApiAlipayOpenMiniInnerversionUploadstatusQueryRequest {
	r.miniAppId = &miniAppId
	return r
}

// 小程序版本
func (r ApiAlipayOpenMiniInnerversionUploadstatusQueryRequest) BuildVersion(buildVersion string) ApiAlipayOpenMiniInnerversionUploadstatusQueryRequest {
	r.buildVersion = &buildVersion
	return r
}

// 租户id
func (r ApiAlipayOpenMiniInnerversionUploadstatusQueryRequest) InstCode(instCode string) ApiAlipayOpenMiniInnerversionUploadstatusQueryRequest {
	r.instCode = &instCode
	return r
}

// 端信息
func (r ApiAlipayOpenMiniInnerversionUploadstatusQueryRequest) BundleId(bundleId string) ApiAlipayOpenMiniInnerversionUploadstatusQueryRequest {
	r.bundleId = &bundleId
	return r
}

func (r ApiAlipayOpenMiniInnerversionUploadstatusQueryRequest) Execute() (*AlipayOpenMiniInnerversionUploadstatusQueryResponseModel, *http.Response, error) {
	return r.ApiService.AlipayOpenMiniInnerversionUploadstatusQueryExecute(r)
}

/*
AlipayOpenMiniInnerversionUploadstatusQuery 多端小程序-查询构建状态

查询构建状态

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAlipayOpenMiniInnerversionUploadstatusQueryRequest
*/
func (r *AlipayOpenMiniInnerversionUploadstatusAPIService) AlipayOpenMiniInnerversionUploadstatusQuery(ctx context.Context) ApiAlipayOpenMiniInnerversionUploadstatusQueryRequest {
	return ApiAlipayOpenMiniInnerversionUploadstatusQueryRequest{
		ApiService: r,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AlipayOpenMiniInnerversionUploadstatusQueryResponseModel
func (a *AlipayOpenMiniInnerversionUploadstatusAPIService) AlipayOpenMiniInnerversionUploadstatusQueryExecute(r ApiAlipayOpenMiniInnerversionUploadstatusQueryRequest) (*AlipayOpenMiniInnerversionUploadstatusQueryResponseModel, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AlipayOpenMiniInnerversionUploadstatusQueryResponseModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AlipayOpenMiniInnerversionUploadstatusAPIService.AlipayOpenMiniInnerversionUploadstatusQuery")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/alipay/open/mini/innerversion/uploadstatus/query"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}


	if r.buildPackageId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "build_package_id", r.buildPackageId, "form", "")
	}
	if r.miniAppId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mini_app_id", r.miniAppId, "form", "")
	}
	if r.buildVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "build_version", r.buildVersion, "form", "")
	}
	if r.instCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "inst_code", r.instCode, "form", "")
	}
	if r.bundleId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bundle_id", r.bundleId, "form", "")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// Add signing logic
	err = a.signRequest(req)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	// Add verification logic
	err = a.verifyResponse(localVarHTTPResponse, localVarBody)
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v AlipayOpenMiniInnerversionUploadstatusQueryDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}


func (a *AlipayOpenMiniInnerversionUploadstatusAPIService) signRequest(req *http.Request) error {
	appID := a.client.cfg.AppID
	appCertSN := a.client.cfg.AppCertSN
	privateKey := a.client.cfg.PrivateKey

	nonce := generateUUID()
	timestamp := strconv.FormatInt(time.Now().UnixNano()/1e6, 10)

	authString := fmt.Sprintf("app_id=%s", appID)
	if appCertSN != "" {
		authString += fmt.Sprintf(",app_cert_sn=%s", appCertSN)
	}
	authString += fmt.Sprintf(",nonce=%s,timestamp=%s", nonce, timestamp)

	httpMethod := req.Method
	httpRequestUri := req.URL.Path
	if req.URL.RawQuery != "" {
		httpRequestUri += "?" + req.URL.RawQuery
	}

	var httpRequestBody string
	if req.Body != nil {
		bodyBytes, err := io.ReadAll(req.Body)
		if err != nil {
			return err
		}
		httpRequestBody = string(bodyBytes)
		req.Body = io.NopCloser(bytes.NewBuffer(bodyBytes))
	}

	content := authString + "\n" +
		httpMethod + "\n" +
		httpRequestUri + "\n" +
		httpRequestBody + "\n"

	if appAuthToken := req.Header.Get("alipay-app-auth-token"); appAuthToken != "" {
		content += appAuthToken + "\n"
	}

	signature, err := signWithRSA(content, privateKey)
	if err != nil {
		return err
	}

	req.Header.Set("Authorization", fmt.Sprintf("ALIPAY-SHA256withRSA %s,sign=%s", authString, signature))
	return nil
}

func (a *AlipayOpenMiniInnerversionUploadstatusAPIService) verifyResponse(resp *http.Response, body []byte) error {
	timestamp := resp.Header.Get("alipay-timestamp")
	nonce := resp.Header.Get("alipay-nonce")
	sign := resp.Header.Get("alipay-signature")

	content := timestamp + "\n" +
		nonce + "\n" +
		string(body) + "\n"

	publicKey := a.client.cfg.PublicKey

	return verifyWithRSA(content, sign, publicKey)
}


