/*
支付宝开放平台API

支付宝开放平台v3协议文档

API version: 2024-07-05
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"fmt"
	"io"
	"net/http"
	"net/url"
	"strconv"
	"time"
)


// AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleAPIService AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleAPI service
type AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleAPIService service

type ApiAlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleCreateRequest struct {
	ctx context.Context
	ApiService *AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleAPIService
	alipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleCreateModel *AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleCreateModel
}

func (r ApiAlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleCreateRequest) AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleCreateModel(alipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleCreateModel AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleCreateModel) ApiAlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleCreateRequest {
	r.alipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleCreateModel = &alipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleCreateModel
	return r
}

func (r ApiAlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleCreateRequest) Execute() (*AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleCreateResponseModel, *http.Response, error) {
	return r.ApiService.AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleCreateExecute(r)
}

/*
AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleCreate 新增开票规则

新增一条开票规则配置

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleCreateRequest
*/
func (r *AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleAPIService) AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleCreate(ctx context.Context) ApiAlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleCreateRequest {
	return ApiAlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleCreateRequest{
		ApiService: r,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleCreateResponseModel
func (a *AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleAPIService) AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleCreateExecute(r ApiAlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleCreateRequest) (*AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleCreateResponseModel, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleCreateResponseModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleAPIService.AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/alipay/ebpp/invoice/enterpriseconsume/enterpriseopenrule/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}



	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.alipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleCreateModel

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// Add signing logic
	err = a.signRequest(req)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	// Add verification logic
	err = a.verifyResponse(localVarHTTPResponse, localVarBody)
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleCreateDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}


type ApiAlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleModifyRequest struct {
	ctx context.Context
	ApiService *AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleAPIService
	alipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleModifyModel *AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleModifyModel
}

func (r ApiAlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleModifyRequest) AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleModifyModel(alipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleModifyModel AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleModifyModel) ApiAlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleModifyRequest {
	r.alipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleModifyModel = &alipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleModifyModel
	return r
}

func (r ApiAlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleModifyRequest) Execute() (*AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleModifyResponseModel, *http.Response, error) {
	return r.ApiService.AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleModifyExecute(r)
}

/*
AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleModify 修改开票规则

修改开票规则

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleModifyRequest
*/
func (r *AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleAPIService) AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleModify(ctx context.Context) ApiAlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleModifyRequest {
	return ApiAlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleModifyRequest{
		ApiService: r,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleModifyResponseModel
func (a *AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleAPIService) AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleModifyExecute(r ApiAlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleModifyRequest) (*AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleModifyResponseModel, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleModifyResponseModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleAPIService.AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleModify")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/alipay/ebpp/invoice/enterpriseconsume/enterpriseopenrule/modify"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}



	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.alipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleModifyModel

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// Add signing logic
	err = a.signRequest(req)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	// Add verification logic
	err = a.verifyResponse(localVarHTTPResponse, localVarBody)
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleModifyDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}


type ApiAlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleQueryRequest struct {
	ctx context.Context
	ApiService *AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleAPIService
	enterpriseId *string
	invoiceRuleId *string
	accountId *string
	agreementNo *string
}

// 企业ID
func (r ApiAlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleQueryRequest) EnterpriseId(enterpriseId string) ApiAlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleQueryRequest {
	r.enterpriseId = &enterpriseId
	return r
}

// 开票规则ID
func (r ApiAlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleQueryRequest) InvoiceRuleId(invoiceRuleId string) ApiAlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleQueryRequest {
	r.invoiceRuleId = &invoiceRuleId
	return r
}

// 共同账户ID
func (r ApiAlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleQueryRequest) AccountId(accountId string) ApiAlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleQueryRequest {
	r.accountId = &accountId
	return r
}

// 授权签约协议号
func (r ApiAlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleQueryRequest) AgreementNo(agreementNo string) ApiAlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleQueryRequest {
	r.agreementNo = &agreementNo
	return r
}

func (r ApiAlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleQueryRequest) Execute() (*AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleQueryResponseModel, *http.Response, error) {
	return r.ApiService.AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleQueryExecute(r)
}

/*
AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleQuery 查询开票规则

根据开票规则ID查询开票规则详情

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleQueryRequest
*/
func (r *AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleAPIService) AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleQuery(ctx context.Context) ApiAlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleQueryRequest {
	return ApiAlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleQueryRequest{
		ApiService: r,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleQueryResponseModel
func (a *AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleAPIService) AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleQueryExecute(r ApiAlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleQueryRequest) (*AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleQueryResponseModel, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleQueryResponseModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleAPIService.AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleQuery")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/alipay/ebpp/invoice/enterpriseconsume/enterpriseopenrule/query"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}


	if r.enterpriseId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "enterprise_id", r.enterpriseId, "form", "")
	}
	if r.invoiceRuleId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "invoice_rule_id", r.invoiceRuleId, "form", "")
	}
	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "account_id", r.accountId, "form", "")
	}
	if r.agreementNo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "agreement_no", r.agreementNo, "form", "")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// Add signing logic
	err = a.signRequest(req)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	// Add verification logic
	err = a.verifyResponse(localVarHTTPResponse, localVarBody)
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleQueryDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}


func (a *AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleAPIService) signRequest(req *http.Request) error {
	appID := a.client.cfg.AppID
	appCertSN := a.client.cfg.AppCertSN
	privateKey := a.client.cfg.PrivateKey

	nonce := generateUUID()
	timestamp := strconv.FormatInt(time.Now().UnixNano()/1e6, 10)

	authString := fmt.Sprintf("app_id=%s", appID)
	if appCertSN != "" {
		authString += fmt.Sprintf(",app_cert_sn=%s", appCertSN)
	}
	authString += fmt.Sprintf(",nonce=%s,timestamp=%s", nonce, timestamp)

	httpMethod := req.Method
	httpRequestUri := req.URL.Path
	if req.URL.RawQuery != "" {
		httpRequestUri += "?" + req.URL.RawQuery
	}

	var httpRequestBody string
	if req.Body != nil {
		bodyBytes, err := io.ReadAll(req.Body)
		if err != nil {
			return err
		}
		httpRequestBody = string(bodyBytes)
		req.Body = io.NopCloser(bytes.NewBuffer(bodyBytes))
	}

	content := authString + "\n" +
		httpMethod + "\n" +
		httpRequestUri + "\n" +
		httpRequestBody + "\n"

	if appAuthToken := req.Header.Get("alipay-app-auth-token"); appAuthToken != "" {
		content += appAuthToken + "\n"
	}

	signature, err := signWithRSA(content, privateKey)
	if err != nil {
		return err
	}

	req.Header.Set("Authorization", fmt.Sprintf("ALIPAY-SHA256withRSA %s,sign=%s", authString, signature))
	return nil
}

func (a *AlipayEbppInvoiceEnterpriseconsumeEnterpriseopenruleAPIService) verifyResponse(resp *http.Response, body []byte) error {
	timestamp := resp.Header.Get("alipay-timestamp")
	nonce := resp.Header.Get("alipay-nonce")
	sign := resp.Header.Get("alipay-signature")

	content := timestamp + "\n" +
		nonce + "\n" +
		string(body) + "\n"

	publicKey := a.client.cfg.PublicKey

	return verifyWithRSA(content, sign, publicKey)
}


