/*
支付宝开放平台API

支付宝开放平台v3协议文档

API version: 2024-07-05
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package alipay

import (
	"bytes"
	"context"
	"fmt"
	"io"
	"net/http"
	"net/url"
	"strconv"
	"time"
)

// AlipayOpenSpOperationQrcodeAPIService AlipayOpenSpOperationQrcodeAPI service
type AlipayOpenSpOperationQrcodeAPIService service

type ApiAlipayOpenSpOperationQrcodeQueryRequest struct {
	ctx                 context.Context
	ApiService          *AlipayOpenSpOperationQrcodeAPIService
	outBizNo            *string
	operateType         *string
	merchantNo          *string
	alipayAccount       *string
	accessProductCode   *string
	isvScenePermissions *string
}

// 外部操作流水，由服务商自定义，需确保每次操作唯一。仅支持数字、字母、下划线组合。
func (r ApiAlipayOpenSpOperationQrcodeQueryRequest) OutBizNo(outBizNo string) ApiAlipayOpenSpOperationQrcodeQueryRequest {
	r.outBizNo = &outBizNo
	return r
}

// 代运营操作类型。取值如下： * ACCOUNT_BIND：账号绑定，仅支持间连商户。 * OPERATION_AUTH：代运营授权，支持间连、直连商户。
func (r ApiAlipayOpenSpOperationQrcodeQueryRequest) OperateType(operateType string) ApiAlipayOpenSpOperationQrcodeQueryRequest {
	r.operateType = &operateType
	return r
}

// 支付宝商户号。注意仅支持 2088 开头的间连商户。 若被代运营者是间连商户，则 merchant_no 必填； 若为直连商户，则 merchant_no 和 alipay_account 不能同时为空，都有值优先取 merchant_no。
func (r ApiAlipayOpenSpOperationQrcodeQueryRequest) MerchantNo(merchantNo string) ApiAlipayOpenSpOperationQrcodeQueryRequest {
	r.merchantNo = &merchantNo
	return r
}

// 支付宝登录账号。通常为手机号或者邮箱。 若被代运营者是间连商户，该字段无需填写。 若为直连商户，则 merchant_no 和 alipay_account 不能同时为空，都有值优先取 merchant_no。
func (r ApiAlipayOpenSpOperationQrcodeQueryRequest) AlipayAccount(alipayAccount string) ApiAlipayOpenSpOperationQrcodeQueryRequest {
	r.alipayAccount = &alipayAccount
	return r
}

// 接入的产品编号。 操作类型为绑定的，填OPENAPI_BIND_DEFAULT; 操作类型为授权的，填OPENAPI_AUTH_DEFAULT
func (r ApiAlipayOpenSpOperationQrcodeQueryRequest) AccessProductCode(accessProductCode string) ApiAlipayOpenSpOperationQrcodeQueryRequest {
	r.accessProductCode = &accessProductCode
	return r
}

// 场景授权列表结构结构：场景codeA:权限code1,权限code2;场景codeB:权限code1,权限code2;
func (r ApiAlipayOpenSpOperationQrcodeQueryRequest) IsvScenePermissions(isvScenePermissions string) ApiAlipayOpenSpOperationQrcodeQueryRequest {
	r.isvScenePermissions = &isvScenePermissions
	return r
}

func (r ApiAlipayOpenSpOperationQrcodeQueryRequest) Execute() (*AlipayOpenSpOperationQrcodeQueryResponseModel, *http.Response, error) {
	return r.ApiService.AlipayOpenSpOperationQrcodeQueryExecute(r)
}

/*
AlipayOpenSpOperationQrcodeQuery 查询代运营授权或者账号绑定二维码

面向服务商，查询发起代运营授权或者账号绑定的二维码。代间联商户代运营时，推荐使用接口同步返回的recommend_accounts字段中的账号扫码确认。

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiAlipayOpenSpOperationQrcodeQueryRequest
*/
func (r *AlipayOpenSpOperationQrcodeAPIService) AlipayOpenSpOperationQrcodeQuery(ctx context.Context) ApiAlipayOpenSpOperationQrcodeQueryRequest {
	return ApiAlipayOpenSpOperationQrcodeQueryRequest{
		ApiService: r,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AlipayOpenSpOperationQrcodeQueryResponseModel
func (a *AlipayOpenSpOperationQrcodeAPIService) AlipayOpenSpOperationQrcodeQueryExecute(r ApiAlipayOpenSpOperationQrcodeQueryRequest) (*AlipayOpenSpOperationQrcodeQueryResponseModel, *http.Response, error) {
	err := a.client.prepareConfig()
	if err != nil {
		return nil, nil, &GenericOpenAPIError{error: err.Error()}
	}
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AlipayOpenSpOperationQrcodeQueryResponseModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AlipayOpenSpOperationQrcodeAPIService.AlipayOpenSpOperationQrcodeQuery")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/alipay/open/sp/operation/qrcode/query"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.outBizNo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "out_biz_no", r.outBizNo, "form", "")
	}
	if r.operateType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "operate_type", r.operateType, "form", "")
	}
	if r.merchantNo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "merchant_no", r.merchantNo, "form", "")
	}
	if r.alipayAccount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "alipay_account", r.alipayAccount, "form", "")
	}
	if r.accessProductCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "access_product_code", r.accessProductCode, "form", "")
	}
	if r.isvScenePermissions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "isv_scene_permissions", r.isvScenePermissions, "form", "")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// Add signing logic
	err = a.signRequest(req)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	// Add verification logic
	err = a.verifyResponse(localVarHTTPResponse, localVarBody)
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v AlipayOpenSpOperationQrcodeQueryDefaultResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

func (a *AlipayOpenSpOperationQrcodeAPIService) signRequest(req *http.Request) error {
	appID := a.client.cfg.AppID
	appCertSN := a.client.cfg.AppCertSN
	nonce := generateUUID()
	timestamp := strconv.FormatInt(time.Now().UnixNano()/1e6, 10)

	authString := fmt.Sprintf("app_id=%s", appID)
	if appCertSN != "" {
		authString += fmt.Sprintf(",app_cert_sn=%s", appCertSN)
	}
	authString += fmt.Sprintf(",nonce=%s,timestamp=%s", nonce, timestamp)

	httpMethod := req.Method
	httpRequestUri := req.URL.Path
	if req.URL.RawQuery != "" {
		httpRequestUri += "?" + req.URL.RawQuery
	}

	var httpRequestBody string
	if req.Body != nil {
		bodyBytes, err := io.ReadAll(req.Body)
		if err != nil {
			return err
		}
		httpRequestBody = string(bodyBytes)
		req.Body = io.NopCloser(bytes.NewBuffer(bodyBytes))
	}

	content := authString + "\n" +
		httpMethod + "\n" +
		httpRequestUri + "\n" +
		httpRequestBody + "\n"

	if appAuthToken := req.Header.Get("alipay-app-auth-token"); appAuthToken != "" {
		content += appAuthToken + "\n"
	}

	signature, err := signWithRSA(content, a.client.cfg.privateKey)
	if err != nil {
		return err
	}

	req.Header.Set("Authorization", fmt.Sprintf("ALIPAY-SHA256withRSA %s,sign=%s", authString, signature))
	return nil
}

func (a *AlipayOpenSpOperationQrcodeAPIService) verifyResponse(resp *http.Response, body []byte) error {
	timestamp := resp.Header.Get("alipay-timestamp")
	nonce := resp.Header.Get("alipay-nonce")
	sign := resp.Header.Get("alipay-signature")

	content := timestamp + "\n" +
		nonce + "\n" +
		string(body) + "\n"

	return verifyWithRSA(content, sign, a.client.cfg.publicKey)
}
