/*
支付宝开放平台API

支付宝开放平台v3协议文档

API version: 2024-07-05
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"fmt"
	"io"
	"net/http"
	"net/url"
	"strconv"
	"time"
)


// AlipayCommerceEcEmployeeInviteAPIService AlipayCommerceEcEmployeeInviteAPI service
type AlipayCommerceEcEmployeeInviteAPIService service

type ApiAlipayCommerceEcEmployeeInviteQueryRequest struct {
	ctx context.Context
	ApiService *AlipayCommerceEcEmployeeInviteAPIService
	enterpriseId *string
	employeeId *string
	pageContentCode *string
	withholdingSignStr *string
	createShareCode *string
}

// 企业id
func (r ApiAlipayCommerceEcEmployeeInviteQueryRequest) EnterpriseId(enterpriseId string) ApiAlipayCommerceEcEmployeeInviteQueryRequest {
	r.enterpriseId = &enterpriseId
	return r
}

// 企业码员工ID
func (r ApiAlipayCommerceEcEmployeeInviteQueryRequest) EmployeeId(employeeId string) ApiAlipayCommerceEcEmployeeInviteQueryRequest {
	r.employeeId = &employeeId
	return r
}

// 页面内容code
func (r ApiAlipayCommerceEcEmployeeInviteQueryRequest) PageContentCode(pageContentCode string) ApiAlipayCommerceEcEmployeeInviteQueryRequest {
	r.pageContentCode = &pageContentCode
	return r
}

// 代扣签约串
func (r ApiAlipayCommerceEcEmployeeInviteQueryRequest) WithholdingSignStr(withholdingSignStr string) ApiAlipayCommerceEcEmployeeInviteQueryRequest {
	r.withholdingSignStr = &withholdingSignStr
	return r
}

// 是否生成签约吱口令，不传默认为N
func (r ApiAlipayCommerceEcEmployeeInviteQueryRequest) CreateShareCode(createShareCode string) ApiAlipayCommerceEcEmployeeInviteQueryRequest {
	r.createShareCode = &createShareCode
	return r
}

func (r ApiAlipayCommerceEcEmployeeInviteQueryRequest) Execute() (*AlipayCommerceEcEmployeeInviteQueryResponseModel, *http.Response, error) {
	return r.ApiService.AlipayCommerceEcEmployeeInviteQueryExecute(r)
}

/*
AlipayCommerceEcEmployeeInviteQuery 获取员工邀请链接

获取员工邀请链接，若只传入企业ID企业则邀请链接对企业员工均有效，若传入了企业ID和员工ID则链接只对传入的员工ID有效

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAlipayCommerceEcEmployeeInviteQueryRequest
*/
func (r *AlipayCommerceEcEmployeeInviteAPIService) AlipayCommerceEcEmployeeInviteQuery(ctx context.Context) ApiAlipayCommerceEcEmployeeInviteQueryRequest {
	return ApiAlipayCommerceEcEmployeeInviteQueryRequest{
		ApiService: r,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AlipayCommerceEcEmployeeInviteQueryResponseModel
func (a *AlipayCommerceEcEmployeeInviteAPIService) AlipayCommerceEcEmployeeInviteQueryExecute(r ApiAlipayCommerceEcEmployeeInviteQueryRequest) (*AlipayCommerceEcEmployeeInviteQueryResponseModel, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AlipayCommerceEcEmployeeInviteQueryResponseModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AlipayCommerceEcEmployeeInviteAPIService.AlipayCommerceEcEmployeeInviteQuery")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/alipay/commerce/ec/employee/invite"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}


	if r.enterpriseId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "enterprise_id", r.enterpriseId, "form", "")
	}
	if r.employeeId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "employee_id", r.employeeId, "form", "")
	}
	if r.pageContentCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_content_code", r.pageContentCode, "form", "")
	}
	if r.withholdingSignStr != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "withholding_sign_str", r.withholdingSignStr, "form", "")
	}
	if r.createShareCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "create_share_code", r.createShareCode, "form", "")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// Add signing logic
	err = a.signRequest(req)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	// Add verification logic
	err = a.verifyResponse(localVarHTTPResponse, localVarBody)
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v AlipayCommerceEcEmployeeInviteQueryDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}


func (a *AlipayCommerceEcEmployeeInviteAPIService) signRequest(req *http.Request) error {
	appID := a.client.cfg.AppID
	appCertSN := a.client.cfg.AppCertSN
	privateKey := a.client.cfg.PrivateKey

	nonce := generateUUID()
	timestamp := strconv.FormatInt(time.Now().UnixNano()/1e6, 10)

	authString := fmt.Sprintf("app_id=%s", appID)
	if appCertSN != "" {
		authString += fmt.Sprintf(",app_cert_sn=%s", appCertSN)
	}
	authString += fmt.Sprintf(",nonce=%s,timestamp=%s", nonce, timestamp)

	httpMethod := req.Method
	httpRequestUri := req.URL.Path
	if req.URL.RawQuery != "" {
		httpRequestUri += "?" + req.URL.RawQuery
	}

	var httpRequestBody string
	if req.Body != nil {
		bodyBytes, err := io.ReadAll(req.Body)
		if err != nil {
			return err
		}
		httpRequestBody = string(bodyBytes)
		req.Body = io.NopCloser(bytes.NewBuffer(bodyBytes))
	}

	content := authString + "\n" +
		httpMethod + "\n" +
		httpRequestUri + "\n" +
		httpRequestBody + "\n"

	if appAuthToken := req.Header.Get("alipay-app-auth-token"); appAuthToken != "" {
		content += appAuthToken + "\n"
	}

	signature, err := signWithRSA(content, privateKey)
	if err != nil {
		return err
	}

	req.Header.Set("Authorization", fmt.Sprintf("ALIPAY-SHA256withRSA %s,sign=%s", authString, signature))
	return nil
}

func (a *AlipayCommerceEcEmployeeInviteAPIService) verifyResponse(resp *http.Response, body []byte) error {
	timestamp := resp.Header.Get("alipay-timestamp")
	nonce := resp.Header.Get("alipay-nonce")
	sign := resp.Header.Get("alipay-signature")

	content := timestamp + "\n" +
		nonce + "\n" +
		string(body) + "\n"

	publicKey := a.client.cfg.PublicKey

	return verifyWithRSA(content, sign, publicKey)
}


