/*
支付宝开放平台API

支付宝开放平台v3协议文档

API version: 2024-07-05
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package alipay

import (
	"bytes"
	"context"
	"fmt"
	"io"
	"net/http"
	"net/url"
	"strconv"
	"time"
)

// AlipayCommerceEcEmployeeInfoAPIService AlipayCommerceEcEmployeeInfoAPI service
type AlipayCommerceEcEmployeeInfoAPIService service

type ApiAlipayCommerceEcEmployeeInfoModifyRequest struct {
	ctx                                     context.Context
	ApiService                              *AlipayCommerceEcEmployeeInfoAPIService
	alipayCommerceEcEmployeeInfoModifyModel *AlipayCommerceEcEmployeeInfoModifyModel
}

func (r ApiAlipayCommerceEcEmployeeInfoModifyRequest) AlipayCommerceEcEmployeeInfoModifyModel(alipayCommerceEcEmployeeInfoModifyModel AlipayCommerceEcEmployeeInfoModifyModel) ApiAlipayCommerceEcEmployeeInfoModifyRequest {
	r.alipayCommerceEcEmployeeInfoModifyModel = &alipayCommerceEcEmployeeInfoModifyModel
	return r
}

func (r ApiAlipayCommerceEcEmployeeInfoModifyRequest) Execute() (*AlipayCommerceEcEmployeeInfoModifyResponseModel, *http.Response, error) {
	return r.ApiService.AlipayCommerceEcEmployeeInfoModifyExecute(r)
}

/*
AlipayCommerceEcEmployeeInfoModify 员工信息修改

员工信息修改

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiAlipayCommerceEcEmployeeInfoModifyRequest
*/
func (r *AlipayCommerceEcEmployeeInfoAPIService) AlipayCommerceEcEmployeeInfoModify(ctx context.Context) ApiAlipayCommerceEcEmployeeInfoModifyRequest {
	return ApiAlipayCommerceEcEmployeeInfoModifyRequest{
		ApiService: r,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AlipayCommerceEcEmployeeInfoModifyResponseModel
func (a *AlipayCommerceEcEmployeeInfoAPIService) AlipayCommerceEcEmployeeInfoModifyExecute(r ApiAlipayCommerceEcEmployeeInfoModifyRequest) (*AlipayCommerceEcEmployeeInfoModifyResponseModel, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AlipayCommerceEcEmployeeInfoModifyResponseModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AlipayCommerceEcEmployeeInfoAPIService.AlipayCommerceEcEmployeeInfoModify")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/alipay/commerce/ec/employee/info"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.alipayCommerceEcEmployeeInfoModifyModel

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// Add signing logic
	err = a.signRequest(req)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	// Add verification logic
	err = a.verifyResponse(localVarHTTPResponse, localVarBody)
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v AlipayCommerceEcEmployeeInfoModifyDefaultResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAlipayCommerceEcEmployeeInfoQueryRequest struct {
	ctx          context.Context
	ApiService   *AlipayCommerceEcEmployeeInfoAPIService
	enterpriseId *string
	employeeId   *string
	openId       *string
	userId       *string
	mobile       *string
}

// 企业id
func (r ApiAlipayCommerceEcEmployeeInfoQueryRequest) EnterpriseId(enterpriseId string) ApiAlipayCommerceEcEmployeeInfoQueryRequest {
	r.enterpriseId = &enterpriseId
	return r
}

// 员工id
func (r ApiAlipayCommerceEcEmployeeInfoQueryRequest) EmployeeId(employeeId string) ApiAlipayCommerceEcEmployeeInfoQueryRequest {
	r.employeeId = &employeeId
	return r
}

// 蚂蚁统一会员ID
func (r ApiAlipayCommerceEcEmployeeInfoQueryRequest) OpenId(openId string) ApiAlipayCommerceEcEmployeeInfoQueryRequest {
	r.openId = &openId
	return r
}

// 蚂蚁统一会员ID
func (r ApiAlipayCommerceEcEmployeeInfoQueryRequest) UserId(userId string) ApiAlipayCommerceEcEmployeeInfoQueryRequest {
	r.userId = &userId
	return r
}

// 员工手机号码
func (r ApiAlipayCommerceEcEmployeeInfoQueryRequest) Mobile(mobile string) ApiAlipayCommerceEcEmployeeInfoQueryRequest {
	r.mobile = &mobile
	return r
}

func (r ApiAlipayCommerceEcEmployeeInfoQueryRequest) Execute() (*AlipayCommerceEcEmployeeInfoQueryResponseModel, *http.Response, error) {
	return r.ApiService.AlipayCommerceEcEmployeeInfoQueryExecute(r)
}

/*
AlipayCommerceEcEmployeeInfoQuery 查询员工详情

根据员工id或员工uid查询企业下某个员工的详细信息

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiAlipayCommerceEcEmployeeInfoQueryRequest
*/
func (r *AlipayCommerceEcEmployeeInfoAPIService) AlipayCommerceEcEmployeeInfoQuery(ctx context.Context) ApiAlipayCommerceEcEmployeeInfoQueryRequest {
	return ApiAlipayCommerceEcEmployeeInfoQueryRequest{
		ApiService: r,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AlipayCommerceEcEmployeeInfoQueryResponseModel
func (a *AlipayCommerceEcEmployeeInfoAPIService) AlipayCommerceEcEmployeeInfoQueryExecute(r ApiAlipayCommerceEcEmployeeInfoQueryRequest) (*AlipayCommerceEcEmployeeInfoQueryResponseModel, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AlipayCommerceEcEmployeeInfoQueryResponseModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AlipayCommerceEcEmployeeInfoAPIService.AlipayCommerceEcEmployeeInfoQuery")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/alipay/commerce/ec/employee/info/query"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.enterpriseId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "enterprise_id", r.enterpriseId, "form", "")
	}
	if r.employeeId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "employee_id", r.employeeId, "form", "")
	}
	if r.openId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "open_id", r.openId, "form", "")
	}
	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", r.userId, "form", "")
	}
	if r.mobile != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mobile", r.mobile, "form", "")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// Add signing logic
	err = a.signRequest(req)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	// Add verification logic
	err = a.verifyResponse(localVarHTTPResponse, localVarBody)
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v AlipayCommerceEcEmployeeInfoQueryDefaultResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

func (a *AlipayCommerceEcEmployeeInfoAPIService) signRequest(req *http.Request) error {
	appID := a.client.cfg.AppID
	appCertSN := a.client.cfg.AppCertSN
	privateKey := a.client.cfg.PrivateKey

	nonce := generateUUID()
	timestamp := strconv.FormatInt(time.Now().UnixNano()/1e6, 10)

	authString := fmt.Sprintf("app_id=%s", appID)
	if appCertSN != "" {
		authString += fmt.Sprintf(",app_cert_sn=%s", appCertSN)
	}
	authString += fmt.Sprintf(",nonce=%s,timestamp=%s", nonce, timestamp)

	httpMethod := req.Method
	httpRequestUri := req.URL.Path
	if req.URL.RawQuery != "" {
		httpRequestUri += "?" + req.URL.RawQuery
	}

	var httpRequestBody string
	if req.Body != nil {
		bodyBytes, err := io.ReadAll(req.Body)
		if err != nil {
			return err
		}
		httpRequestBody = string(bodyBytes)
		req.Body = io.NopCloser(bytes.NewBuffer(bodyBytes))
	}

	content := authString + "\n" +
		httpMethod + "\n" +
		httpRequestUri + "\n" +
		httpRequestBody + "\n"

	if appAuthToken := req.Header.Get("alipay-app-auth-token"); appAuthToken != "" {
		content += appAuthToken + "\n"
	}

	signature, err := signWithRSA(content, privateKey)
	if err != nil {
		return err
	}

	req.Header.Set("Authorization", fmt.Sprintf("ALIPAY-SHA256withRSA %s,sign=%s", authString, signature))
	return nil
}

func (a *AlipayCommerceEcEmployeeInfoAPIService) verifyResponse(resp *http.Response, body []byte) error {
	timestamp := resp.Header.Get("alipay-timestamp")
	nonce := resp.Header.Get("alipay-nonce")
	sign := resp.Header.Get("alipay-signature")

	content := timestamp + "\n" +
		nonce + "\n" +
		string(body) + "\n"

	publicKey := a.client.cfg.PublicKey

	return verifyWithRSA(content, sign, publicKey)
}
