/*
支付宝开放平台API

支付宝开放平台v3协议文档

API version: 2024-07-05
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"fmt"
	"io"
	"net/http"
	"net/url"
	"strconv"
	"time"
)


// ZhimaCreditPayafteruseCreditagreementAPIService ZhimaCreditPayafteruseCreditagreementAPI service
type ZhimaCreditPayafteruseCreditagreementAPIService service

type ApiZhimaCreditPayafteruseCreditagreementQueryRequest struct {
	ctx context.Context
	ApiService *ZhimaCreditPayafteruseCreditagreementAPIService
	outAgreementNo *string
	creditAgreementId *string
}

// 商户外部协议号
func (r ApiZhimaCreditPayafteruseCreditagreementQueryRequest) OutAgreementNo(outAgreementNo string) ApiZhimaCreditPayafteruseCreditagreementQueryRequest {
	r.outAgreementNo = &outAgreementNo
	return r
}

// 芝麻开通/授权协议号，out_agreement_no与credit_agreement_id必填一个，推荐使用credit_agreement_id。
func (r ApiZhimaCreditPayafteruseCreditagreementQueryRequest) CreditAgreementId(creditAgreementId string) ApiZhimaCreditPayafteruseCreditagreementQueryRequest {
	r.creditAgreementId = &creditAgreementId
	return r
}

func (r ApiZhimaCreditPayafteruseCreditagreementQueryRequest) Execute() (*ZhimaCreditPayafteruseCreditagreementQueryResponseModel, *http.Response, error) {
	return r.ApiService.ZhimaCreditPayafteruseCreditagreementQueryExecute(r)
}

/*
ZhimaCreditPayafteruseCreditagreementQuery 查询服务开通/授权信息

使用商户外部协议号或开通/授权协议号，查询服务开通/授权信息。

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiZhimaCreditPayafteruseCreditagreementQueryRequest
*/
func (r *ZhimaCreditPayafteruseCreditagreementAPIService) ZhimaCreditPayafteruseCreditagreementQuery(ctx context.Context) ApiZhimaCreditPayafteruseCreditagreementQueryRequest {
	return ApiZhimaCreditPayafteruseCreditagreementQueryRequest{
		ApiService: r,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ZhimaCreditPayafteruseCreditagreementQueryResponseModel
func (a *ZhimaCreditPayafteruseCreditagreementAPIService) ZhimaCreditPayafteruseCreditagreementQueryExecute(r ApiZhimaCreditPayafteruseCreditagreementQueryRequest) (*ZhimaCreditPayafteruseCreditagreementQueryResponseModel, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ZhimaCreditPayafteruseCreditagreementQueryResponseModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ZhimaCreditPayafteruseCreditagreementAPIService.ZhimaCreditPayafteruseCreditagreementQuery")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/zhima/credit/payafteruse/creditagreement/query"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}


	if r.outAgreementNo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "out_agreement_no", r.outAgreementNo, "form", "")
	}
	if r.creditAgreementId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "credit_agreement_id", r.creditAgreementId, "form", "")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// Add signing logic
	err = a.signRequest(req)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	// Add verification logic
	err = a.verifyResponse(localVarHTTPResponse, localVarBody)
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v ZhimaCreditPayafteruseCreditagreementQueryDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}


type ApiZhimaCreditPayafteruseCreditagreementTransferRequest struct {
	ctx context.Context
	ApiService *ZhimaCreditPayafteruseCreditagreementAPIService
	zhimaCreditPayafteruseCreditagreementTransferModel *ZhimaCreditPayafteruseCreditagreementTransferModel
}

func (r ApiZhimaCreditPayafteruseCreditagreementTransferRequest) ZhimaCreditPayafteruseCreditagreementTransferModel(zhimaCreditPayafteruseCreditagreementTransferModel ZhimaCreditPayafteruseCreditagreementTransferModel) ApiZhimaCreditPayafteruseCreditagreementTransferRequest {
	r.zhimaCreditPayafteruseCreditagreementTransferModel = &zhimaCreditPayafteruseCreditagreementTransferModel
	return r
}

func (r ApiZhimaCreditPayafteruseCreditagreementTransferRequest) Execute() (*ZhimaCreditPayafteruseCreditagreementTransferResponseModel, *http.Response, error) {
	return r.ApiService.ZhimaCreditPayafteruseCreditagreementTransferExecute(r)
}

/*
ZhimaCreditPayafteruseCreditagreementTransfer 芝麻信用服务授权

其他产品功能（例如信用代扣），通过该接口，可以转换为芝麻产品（芝麻先享产品，芝麻风险评估产品），完成信用服务授权

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiZhimaCreditPayafteruseCreditagreementTransferRequest
*/
func (r *ZhimaCreditPayafteruseCreditagreementAPIService) ZhimaCreditPayafteruseCreditagreementTransfer(ctx context.Context) ApiZhimaCreditPayafteruseCreditagreementTransferRequest {
	return ApiZhimaCreditPayafteruseCreditagreementTransferRequest{
		ApiService: r,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ZhimaCreditPayafteruseCreditagreementTransferResponseModel
func (a *ZhimaCreditPayafteruseCreditagreementAPIService) ZhimaCreditPayafteruseCreditagreementTransferExecute(r ApiZhimaCreditPayafteruseCreditagreementTransferRequest) (*ZhimaCreditPayafteruseCreditagreementTransferResponseModel, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ZhimaCreditPayafteruseCreditagreementTransferResponseModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ZhimaCreditPayafteruseCreditagreementAPIService.ZhimaCreditPayafteruseCreditagreementTransfer")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/zhima/credit/payafteruse/creditagreement/transfer"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}



	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.zhimaCreditPayafteruseCreditagreementTransferModel

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// Add signing logic
	err = a.signRequest(req)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	// Add verification logic
	err = a.verifyResponse(localVarHTTPResponse, localVarBody)
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v ZhimaCreditPayafteruseCreditagreementTransferDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}


func (a *ZhimaCreditPayafteruseCreditagreementAPIService) signRequest(req *http.Request) error {
	appID := a.client.cfg.AppID
	appCertSN := a.client.cfg.AppCertSN
	privateKey := a.client.cfg.PrivateKey

	nonce := generateUUID()
	timestamp := strconv.FormatInt(time.Now().UnixNano()/1e6, 10)

	authString := fmt.Sprintf("app_id=%s", appID)
	if appCertSN != "" {
		authString += fmt.Sprintf(",app_cert_sn=%s", appCertSN)
	}
	authString += fmt.Sprintf(",nonce=%s,timestamp=%s", nonce, timestamp)

	httpMethod := req.Method
	httpRequestUri := req.URL.Path
	if req.URL.RawQuery != "" {
		httpRequestUri += "?" + req.URL.RawQuery
	}

	var httpRequestBody string
	if req.Body != nil {
		bodyBytes, err := io.ReadAll(req.Body)
		if err != nil {
			return err
		}
		httpRequestBody = string(bodyBytes)
		req.Body = io.NopCloser(bytes.NewBuffer(bodyBytes))
	}

	content := authString + "\n" +
		httpMethod + "\n" +
		httpRequestUri + "\n" +
		httpRequestBody + "\n"

	if appAuthToken := req.Header.Get("alipay-app-auth-token"); appAuthToken != "" {
		content += appAuthToken + "\n"
	}

	signature, err := signWithRSA(content, privateKey)
	if err != nil {
		return err
	}

	req.Header.Set("Authorization", fmt.Sprintf("ALIPAY-SHA256withRSA %s,sign=%s", authString, signature))
	return nil
}

func (a *ZhimaCreditPayafteruseCreditagreementAPIService) verifyResponse(resp *http.Response, body []byte) error {
	timestamp := resp.Header.Get("alipay-timestamp")
	nonce := resp.Header.Get("alipay-nonce")
	sign := resp.Header.Get("alipay-signature")

	content := timestamp + "\n" +
		nonce + "\n" +
		string(body) + "\n"

	publicKey := a.client.cfg.PublicKey

	return verifyWithRSA(content, sign, publicKey)
}


