/*
支付宝开放平台API

支付宝开放平台v3协议文档

API version: 2024-07-05
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package alipay

import (
	"bytes"
	"context"
	"fmt"
	"io"
	"net/http"
	"net/url"
	"strconv"
	"time"
)

// AlipayEbppInvoiceEnterpriseconsumeRelatedetailAPIService AlipayEbppInvoiceEnterpriseconsumeRelatedetailAPI service
type AlipayEbppInvoiceEnterpriseconsumeRelatedetailAPIService service

type ApiAlipayEbppInvoiceEnterpriseconsumeRelatedetailQueryRequest struct {
	ctx         context.Context
	ApiService  *AlipayEbppInvoiceEnterpriseconsumeRelatedetailAPIService
	accountId   *string
	agreementNo *string
	voucherId   *string
}

// 企业ID
func (r ApiAlipayEbppInvoiceEnterpriseconsumeRelatedetailQueryRequest) AccountId(accountId string) ApiAlipayEbppInvoiceEnterpriseconsumeRelatedetailQueryRequest {
	r.accountId = &accountId
	return r
}

// 授权签约协议号
func (r ApiAlipayEbppInvoiceEnterpriseconsumeRelatedetailQueryRequest) AgreementNo(agreementNo string) ApiAlipayEbppInvoiceEnterpriseconsumeRelatedetailQueryRequest {
	r.agreementNo = &agreementNo
	return r
}

// 账单凭证ID
func (r ApiAlipayEbppInvoiceEnterpriseconsumeRelatedetailQueryRequest) VoucherId(voucherId string) ApiAlipayEbppInvoiceEnterpriseconsumeRelatedetailQueryRequest {
	r.voucherId = &voucherId
	return r
}

func (r ApiAlipayEbppInvoiceEnterpriseconsumeRelatedetailQueryRequest) Execute() (*AlipayEbppInvoiceEnterpriseconsumeRelatedetailQueryResponseModel, *http.Response, error) {
	return r.ApiService.AlipayEbppInvoiceEnterpriseconsumeRelatedetailQueryExecute(r)
}

/*
AlipayEbppInvoiceEnterpriseconsumeRelatedetailQuery 合花账单关联详情查询

合花账单关联详情查询，通过凭证ID获取这个账单详细信息和关联的凭证详细信息

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiAlipayEbppInvoiceEnterpriseconsumeRelatedetailQueryRequest
*/
func (r *AlipayEbppInvoiceEnterpriseconsumeRelatedetailAPIService) AlipayEbppInvoiceEnterpriseconsumeRelatedetailQuery(ctx context.Context) ApiAlipayEbppInvoiceEnterpriseconsumeRelatedetailQueryRequest {
	return ApiAlipayEbppInvoiceEnterpriseconsumeRelatedetailQueryRequest{
		ApiService: r,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AlipayEbppInvoiceEnterpriseconsumeRelatedetailQueryResponseModel
func (a *AlipayEbppInvoiceEnterpriseconsumeRelatedetailAPIService) AlipayEbppInvoiceEnterpriseconsumeRelatedetailQueryExecute(r ApiAlipayEbppInvoiceEnterpriseconsumeRelatedetailQueryRequest) (*AlipayEbppInvoiceEnterpriseconsumeRelatedetailQueryResponseModel, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AlipayEbppInvoiceEnterpriseconsumeRelatedetailQueryResponseModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AlipayEbppInvoiceEnterpriseconsumeRelatedetailAPIService.AlipayEbppInvoiceEnterpriseconsumeRelatedetailQuery")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/alipay/ebpp/invoice/enterpriseconsume/relatedetail/query"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "account_id", r.accountId, "form", "")
	}
	if r.agreementNo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "agreement_no", r.agreementNo, "form", "")
	}
	if r.voucherId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "voucher_id", r.voucherId, "form", "")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// Add signing logic
	err = a.signRequest(req)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	// Add verification logic
	err = a.verifyResponse(localVarHTTPResponse, localVarBody)
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v AlipayEbppInvoiceEnterpriseconsumeRelatedetailQueryDefaultResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

func (a *AlipayEbppInvoiceEnterpriseconsumeRelatedetailAPIService) signRequest(req *http.Request) error {
	appID := a.client.cfg.AppID
	appCertSN := a.client.cfg.AppCertSN
	privateKey := a.client.cfg.PrivateKey

	nonce := generateUUID()
	timestamp := strconv.FormatInt(time.Now().UnixNano()/1e6, 10)

	authString := fmt.Sprintf("app_id=%s", appID)
	if appCertSN != "" {
		authString += fmt.Sprintf(",app_cert_sn=%s", appCertSN)
	}
	authString += fmt.Sprintf(",nonce=%s,timestamp=%s", nonce, timestamp)

	httpMethod := req.Method
	httpRequestUri := req.URL.Path
	if req.URL.RawQuery != "" {
		httpRequestUri += "?" + req.URL.RawQuery
	}

	var httpRequestBody string
	if req.Body != nil {
		bodyBytes, err := io.ReadAll(req.Body)
		if err != nil {
			return err
		}
		httpRequestBody = string(bodyBytes)
		req.Body = io.NopCloser(bytes.NewBuffer(bodyBytes))
	}

	content := authString + "\n" +
		httpMethod + "\n" +
		httpRequestUri + "\n" +
		httpRequestBody + "\n"

	if appAuthToken := req.Header.Get("alipay-app-auth-token"); appAuthToken != "" {
		content += appAuthToken + "\n"
	}

	signature, err := signWithRSA(content, privateKey)
	if err != nil {
		return err
	}

	req.Header.Set("Authorization", fmt.Sprintf("ALIPAY-SHA256withRSA %s,sign=%s", authString, signature))
	return nil
}

func (a *AlipayEbppInvoiceEnterpriseconsumeRelatedetailAPIService) verifyResponse(resp *http.Response, body []byte) error {
	timestamp := resp.Header.Get("alipay-timestamp")
	nonce := resp.Header.Get("alipay-nonce")
	sign := resp.Header.Get("alipay-signature")

	content := timestamp + "\n" +
		nonce + "\n" +
		string(body) + "\n"

	publicKey := a.client.cfg.PublicKey

	return verifyWithRSA(content, sign, publicKey)
}
