/*
支付宝开放平台API

支付宝开放平台v3协议文档

API version: 2024-07-05
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package alipay

import (
	"bytes"
	"context"
	"fmt"
	"io"
	"net/http"
	"net/url"
	"strconv"
	"time"
)

// AlipayDataBillAccountlogAPIService AlipayDataBillAccountlogAPI service
type AlipayDataBillAccountlogAPIService service

type ApiAlipayDataBillAccountlogQueryRequest struct {
	ctx                  context.Context
	ApiService           *AlipayDataBillAccountlogAPIService
	startTime            *string
	endTime              *string
	alipayOrderNo        *string
	merchantOrderNo      *string
	pageNo               *string
	pageSize             *string
	transCode            *string
	agreementNo          *string
	agreementProductCode *string
	billUserId           *string
}

// 账务流水创建时间的起始范围
func (r ApiAlipayDataBillAccountlogQueryRequest) StartTime(startTime string) ApiAlipayDataBillAccountlogQueryRequest {
	r.startTime = &startTime
	return r
}

// 账务流水创建时间的结束范围。与起始时间间隔不超过31天。查询结果为起始时间至结束时间的左闭右开区间
func (r ApiAlipayDataBillAccountlogQueryRequest) EndTime(endTime string) ApiAlipayDataBillAccountlogQueryRequest {
	r.endTime = &endTime
	return r
}

// 支付宝订单号，通过支付宝订单号精确查询相关的流水明细，商户订单号与支付宝订单号互斥
func (r ApiAlipayDataBillAccountlogQueryRequest) AlipayOrderNo(alipayOrderNo string) ApiAlipayDataBillAccountlogQueryRequest {
	r.alipayOrderNo = &alipayOrderNo
	return r
}

// 商户订单号，通过商户订单号精确查询相关的流水明细，商户订单号与支付宝订单号互斥
func (r ApiAlipayDataBillAccountlogQueryRequest) MerchantOrderNo(merchantOrderNo string) ApiAlipayDataBillAccountlogQueryRequest {
	r.merchantOrderNo = &merchantOrderNo
	return r
}

// 分页号，从1开始
func (r ApiAlipayDataBillAccountlogQueryRequest) PageNo(pageNo string) ApiAlipayDataBillAccountlogQueryRequest {
	r.pageNo = &pageNo
	return r
}

// 分页大小1000-2000，默认2000
func (r ApiAlipayDataBillAccountlogQueryRequest) PageSize(pageSize string) ApiAlipayDataBillAccountlogQueryRequest {
	r.pageSize = &pageSize
	return r
}

// 账务的类型代码，特殊场景下使用
func (r ApiAlipayDataBillAccountlogQueryRequest) TransCode(transCode string) ApiAlipayDataBillAccountlogQueryRequest {
	r.transCode = &transCode
	return r
}

// 协议授权码，特殊场景下使用
func (r ApiAlipayDataBillAccountlogQueryRequest) AgreementNo(agreementNo string) ApiAlipayDataBillAccountlogQueryRequest {
	r.agreementNo = &agreementNo
	return r
}

// 协议产品码。特殊场景下使用
func (r ApiAlipayDataBillAccountlogQueryRequest) AgreementProductCode(agreementProductCode string) ApiAlipayDataBillAccountlogQueryRequest {
	r.agreementProductCode = &agreementProductCode
	return r
}

// 指定用户做账单查询
func (r ApiAlipayDataBillAccountlogQueryRequest) BillUserId(billUserId string) ApiAlipayDataBillAccountlogQueryRequest {
	r.billUserId = &billUserId
	return r
}

func (r ApiAlipayDataBillAccountlogQueryRequest) Execute() (*AlipayDataBillAccountlogQueryResponseModel, *http.Response, error) {
	return r.ApiService.AlipayDataBillAccountlogQueryExecute(r)
}

/*
AlipayDataBillAccountlogQuery 支付宝商家账户账务明细查询

为支付宝商家提供支付宝账户的账务流水信息，供对账使用。

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiAlipayDataBillAccountlogQueryRequest
*/
func (r *AlipayDataBillAccountlogAPIService) AlipayDataBillAccountlogQuery(ctx context.Context) ApiAlipayDataBillAccountlogQueryRequest {
	return ApiAlipayDataBillAccountlogQueryRequest{
		ApiService: r,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AlipayDataBillAccountlogQueryResponseModel
func (a *AlipayDataBillAccountlogAPIService) AlipayDataBillAccountlogQueryExecute(r ApiAlipayDataBillAccountlogQueryRequest) (*AlipayDataBillAccountlogQueryResponseModel, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AlipayDataBillAccountlogQueryResponseModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AlipayDataBillAccountlogAPIService.AlipayDataBillAccountlogQuery")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/alipay/data/bill/accountlog/query"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.startTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_time", r.startTime, "form", "")
	}
	if r.endTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_time", r.endTime, "form", "")
	}
	if r.alipayOrderNo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "alipay_order_no", r.alipayOrderNo, "form", "")
	}
	if r.merchantOrderNo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "merchant_order_no", r.merchantOrderNo, "form", "")
	}
	if r.pageNo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_no", r.pageNo, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "form", "")
	}
	if r.transCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "trans_code", r.transCode, "form", "")
	}
	if r.agreementNo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "agreement_no", r.agreementNo, "form", "")
	}
	if r.agreementProductCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "agreement_product_code", r.agreementProductCode, "form", "")
	}
	if r.billUserId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bill_user_id", r.billUserId, "form", "")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// Add signing logic
	err = a.signRequest(req)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	// Add verification logic
	err = a.verifyResponse(localVarHTTPResponse, localVarBody)
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v AlipayDataBillAccountlogQueryDefaultResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

func (a *AlipayDataBillAccountlogAPIService) signRequest(req *http.Request) error {
	appID := a.client.cfg.AppID
	appCertSN := a.client.cfg.AppCertSN
	privateKey := a.client.cfg.PrivateKey

	nonce := generateUUID()
	timestamp := strconv.FormatInt(time.Now().UnixNano()/1e6, 10)

	authString := fmt.Sprintf("app_id=%s", appID)
	if appCertSN != "" {
		authString += fmt.Sprintf(",app_cert_sn=%s", appCertSN)
	}
	authString += fmt.Sprintf(",nonce=%s,timestamp=%s", nonce, timestamp)

	httpMethod := req.Method
	httpRequestUri := req.URL.Path
	if req.URL.RawQuery != "" {
		httpRequestUri += "?" + req.URL.RawQuery
	}

	var httpRequestBody string
	if req.Body != nil {
		bodyBytes, err := io.ReadAll(req.Body)
		if err != nil {
			return err
		}
		httpRequestBody = string(bodyBytes)
		req.Body = io.NopCloser(bytes.NewBuffer(bodyBytes))
	}

	content := authString + "\n" +
		httpMethod + "\n" +
		httpRequestUri + "\n" +
		httpRequestBody + "\n"

	if appAuthToken := req.Header.Get("alipay-app-auth-token"); appAuthToken != "" {
		content += appAuthToken + "\n"
	}

	signature, err := signWithRSA(content, privateKey)
	if err != nil {
		return err
	}

	req.Header.Set("Authorization", fmt.Sprintf("ALIPAY-SHA256withRSA %s,sign=%s", authString, signature))
	return nil
}

func (a *AlipayDataBillAccountlogAPIService) verifyResponse(resp *http.Response, body []byte) error {
	timestamp := resp.Header.Get("alipay-timestamp")
	nonce := resp.Header.Get("alipay-nonce")
	sign := resp.Header.Get("alipay-signature")

	content := timestamp + "\n" +
		nonce + "\n" +
		string(body) + "\n"

	publicKey := a.client.cfg.PublicKey

	return verifyWithRSA(content, sign, publicKey)
}
