/*
支付宝开放平台API

支付宝开放平台v3协议文档

API version: 2024-07-05
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"fmt"
	"io"
	"net/http"
	"net/url"
	"strconv"
	"time"
)


// AlipayEbppInvoiceExpensesceneMerchantAPIService AlipayEbppInvoiceExpensesceneMerchantAPI service
type AlipayEbppInvoiceExpensesceneMerchantAPIService service

type ApiAlipayEbppInvoiceExpensesceneMerchantQueryRequest struct {
	ctx context.Context
	ApiService *AlipayEbppInvoiceExpensesceneMerchantAPIService
	accountId *string
	agreementNo *string
	enterpriseId *string
	roleId *string
	pid *string
	shopId *string
	expenseType *string
	pageNum *int32
	pageSize *int32
}

// 共同账户ID
func (r ApiAlipayEbppInvoiceExpensesceneMerchantQueryRequest) AccountId(accountId string) ApiAlipayEbppInvoiceExpensesceneMerchantQueryRequest {
	r.accountId = &accountId
	return r
}

// 授权签约协议号
func (r ApiAlipayEbppInvoiceExpensesceneMerchantQueryRequest) AgreementNo(agreementNo string) ApiAlipayEbppInvoiceExpensesceneMerchantQueryRequest {
	r.agreementNo = &agreementNo
	return r
}

// 企业ID
func (r ApiAlipayEbppInvoiceExpensesceneMerchantQueryRequest) EnterpriseId(enterpriseId string) ApiAlipayEbppInvoiceExpensesceneMerchantQueryRequest {
	r.enterpriseId = &enterpriseId
	return r
}

// 商户ID
func (r ApiAlipayEbppInvoiceExpensesceneMerchantQueryRequest) RoleId(roleId string) ApiAlipayEbppInvoiceExpensesceneMerchantQueryRequest {
	r.roleId = &roleId
	return r
}

// 商户ID
func (r ApiAlipayEbppInvoiceExpensesceneMerchantQueryRequest) Pid(pid string) ApiAlipayEbppInvoiceExpensesceneMerchantQueryRequest {
	r.pid = &pid
	return r
}

// 门店ID
func (r ApiAlipayEbppInvoiceExpensesceneMerchantQueryRequest) ShopId(shopId string) ApiAlipayEbppInvoiceExpensesceneMerchantQueryRequest {
	r.shopId = &shopId
	return r
}

// 费用类型 MEAL - 工作餐
func (r ApiAlipayEbppInvoiceExpensesceneMerchantQueryRequest) ExpenseType(expenseType string) ApiAlipayEbppInvoiceExpensesceneMerchantQueryRequest {
	r.expenseType = &expenseType
	return r
}

// 页码
func (r ApiAlipayEbppInvoiceExpensesceneMerchantQueryRequest) PageNum(pageNum int32) ApiAlipayEbppInvoiceExpensesceneMerchantQueryRequest {
	r.pageNum = &pageNum
	return r
}

// 每页行数（最大100）
func (r ApiAlipayEbppInvoiceExpensesceneMerchantQueryRequest) PageSize(pageSize int32) ApiAlipayEbppInvoiceExpensesceneMerchantQueryRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiAlipayEbppInvoiceExpensesceneMerchantQueryRequest) Execute() (*AlipayEbppInvoiceExpensesceneMerchantQueryResponseModel, *http.Response, error) {
	return r.ApiService.AlipayEbppInvoiceExpensesceneMerchantQueryExecute(r)
}

/*
AlipayEbppInvoiceExpensesceneMerchantQuery 查询企业可用商户信息

查询企业可用商户信息

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAlipayEbppInvoiceExpensesceneMerchantQueryRequest
*/
func (r *AlipayEbppInvoiceExpensesceneMerchantAPIService) AlipayEbppInvoiceExpensesceneMerchantQuery(ctx context.Context) ApiAlipayEbppInvoiceExpensesceneMerchantQueryRequest {
	return ApiAlipayEbppInvoiceExpensesceneMerchantQueryRequest{
		ApiService: r,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AlipayEbppInvoiceExpensesceneMerchantQueryResponseModel
func (a *AlipayEbppInvoiceExpensesceneMerchantAPIService) AlipayEbppInvoiceExpensesceneMerchantQueryExecute(r ApiAlipayEbppInvoiceExpensesceneMerchantQueryRequest) (*AlipayEbppInvoiceExpensesceneMerchantQueryResponseModel, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AlipayEbppInvoiceExpensesceneMerchantQueryResponseModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AlipayEbppInvoiceExpensesceneMerchantAPIService.AlipayEbppInvoiceExpensesceneMerchantQuery")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/alipay/ebpp/invoice/expensescene/merchant/query"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}


	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "account_id", r.accountId, "form", "")
	}
	if r.agreementNo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "agreement_no", r.agreementNo, "form", "")
	}
	if r.enterpriseId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "enterprise_id", r.enterpriseId, "form", "")
	}
	if r.roleId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "role_id", r.roleId, "form", "")
	}
	if r.pid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pid", r.pid, "form", "")
	}
	if r.shopId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "shop_id", r.shopId, "form", "")
	}
	if r.expenseType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "expense_type", r.expenseType, "form", "")
	}
	if r.pageNum != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_num", r.pageNum, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "form", "")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// Add signing logic
	err = a.signRequest(req)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	// Add verification logic
	err = a.verifyResponse(localVarHTTPResponse, localVarBody)
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v AlipayEbppInvoiceExpensesceneMerchantQueryDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}


func (a *AlipayEbppInvoiceExpensesceneMerchantAPIService) signRequest(req *http.Request) error {
	appID := a.client.cfg.AppID
	appCertSN := a.client.cfg.AppCertSN
	privateKey := a.client.cfg.PrivateKey

	nonce := generateUUID()
	timestamp := strconv.FormatInt(time.Now().UnixNano()/1e6, 10)

	authString := fmt.Sprintf("app_id=%s", appID)
	if appCertSN != "" {
		authString += fmt.Sprintf(",app_cert_sn=%s", appCertSN)
	}
	authString += fmt.Sprintf(",nonce=%s,timestamp=%s", nonce, timestamp)

	httpMethod := req.Method
	httpRequestUri := req.URL.Path
	if req.URL.RawQuery != "" {
		httpRequestUri += "?" + req.URL.RawQuery
	}

	var httpRequestBody string
	if req.Body != nil {
		bodyBytes, err := io.ReadAll(req.Body)
		if err != nil {
			return err
		}
		httpRequestBody = string(bodyBytes)
		req.Body = io.NopCloser(bytes.NewBuffer(bodyBytes))
	}

	content := authString + "\n" +
		httpMethod + "\n" +
		httpRequestUri + "\n" +
		httpRequestBody + "\n"

	if appAuthToken := req.Header.Get("alipay-app-auth-token"); appAuthToken != "" {
		content += appAuthToken + "\n"
	}

	signature, err := signWithRSA(content, privateKey)
	if err != nil {
		return err
	}

	req.Header.Set("Authorization", fmt.Sprintf("ALIPAY-SHA256withRSA %s,sign=%s", authString, signature))
	return nil
}

func (a *AlipayEbppInvoiceExpensesceneMerchantAPIService) verifyResponse(resp *http.Response, body []byte) error {
	timestamp := resp.Header.Get("alipay-timestamp")
	nonce := resp.Header.Get("alipay-nonce")
	sign := resp.Header.Get("alipay-signature")

	content := timestamp + "\n" +
		nonce + "\n" +
		string(body) + "\n"

	publicKey := a.client.cfg.PublicKey

	return verifyWithRSA(content, sign, publicKey)
}


