/*
支付宝开放平台API

支付宝开放平台v3协议文档

API version: 2024-07-05
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"fmt"
	"io"
	"net/http"
	"net/url"
	"strconv"
	"time"
)


// AlipayEbppInvoiceInstitutionScopepageinfoAPIService AlipayEbppInvoiceInstitutionScopepageinfoAPI service
type AlipayEbppInvoiceInstitutionScopepageinfoAPIService service

type ApiAlipayEbppInvoiceInstitutionScopepageinfoQueryRequest struct {
	ctx context.Context
	ApiService *AlipayEbppInvoiceInstitutionScopepageinfoAPIService
	accountId *string
	agreementNo *string
	enterpriseId *string
	institutionId *string
	ownerType *string
	pageNum *int32
	pageSize *int32
}

// 企业共同账户id（该字段将废弃，不建议使用，可用enterprise_id字段替换）(该字段将废弃，不建议使用，可用enterprise_id字段替换)
// Deprecated
func (r ApiAlipayEbppInvoiceInstitutionScopepageinfoQueryRequest) AccountId(accountId string) ApiAlipayEbppInvoiceInstitutionScopepageinfoQueryRequest {
	r.accountId = &accountId
	return r
}

// 授权签约协议号（该字段将废弃，不建议使用，可用enterprise_id字段替换）(该字段将废弃，不建议使用，可用enterprise_id字段替换)
// Deprecated
func (r ApiAlipayEbppInvoiceInstitutionScopepageinfoQueryRequest) AgreementNo(agreementNo string) ApiAlipayEbppInvoiceInstitutionScopepageinfoQueryRequest {
	r.agreementNo = &agreementNo
	return r
}

// 企业id
func (r ApiAlipayEbppInvoiceInstitutionScopepageinfoQueryRequest) EnterpriseId(enterpriseId string) ApiAlipayEbppInvoiceInstitutionScopepageinfoQueryRequest {
	r.enterpriseId = &enterpriseId
	return r
}

// 制度id
func (r ApiAlipayEbppInvoiceInstitutionScopepageinfoQueryRequest) InstitutionId(institutionId string) ApiAlipayEbppInvoiceInstitutionScopepageinfoQueryRequest {
	r.institutionId = &institutionId
	return r
}

// 适配id类型
func (r ApiAlipayEbppInvoiceInstitutionScopepageinfoQueryRequest) OwnerType(ownerType string) ApiAlipayEbppInvoiceInstitutionScopepageinfoQueryRequest {
	r.ownerType = &ownerType
	return r
}

// 页码
func (r ApiAlipayEbppInvoiceInstitutionScopepageinfoQueryRequest) PageNum(pageNum int32) ApiAlipayEbppInvoiceInstitutionScopepageinfoQueryRequest {
	r.pageNum = &pageNum
	return r
}

// 页大小
func (r ApiAlipayEbppInvoiceInstitutionScopepageinfoQueryRequest) PageSize(pageSize int32) ApiAlipayEbppInvoiceInstitutionScopepageinfoQueryRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiAlipayEbppInvoiceInstitutionScopepageinfoQueryRequest) Execute() (*AlipayEbppInvoiceInstitutionScopepageinfoQueryResponseModel, *http.Response, error) {
	return r.ApiService.AlipayEbppInvoiceInstitutionScopepageinfoQueryExecute(r)
}

/*
AlipayEbppInvoiceInstitutionScopepageinfoQuery 分页查询制度下人员

分页查询制度下适用范围列表

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAlipayEbppInvoiceInstitutionScopepageinfoQueryRequest
*/
func (r *AlipayEbppInvoiceInstitutionScopepageinfoAPIService) AlipayEbppInvoiceInstitutionScopepageinfoQuery(ctx context.Context) ApiAlipayEbppInvoiceInstitutionScopepageinfoQueryRequest {
	return ApiAlipayEbppInvoiceInstitutionScopepageinfoQueryRequest{
		ApiService: r,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AlipayEbppInvoiceInstitutionScopepageinfoQueryResponseModel
func (a *AlipayEbppInvoiceInstitutionScopepageinfoAPIService) AlipayEbppInvoiceInstitutionScopepageinfoQueryExecute(r ApiAlipayEbppInvoiceInstitutionScopepageinfoQueryRequest) (*AlipayEbppInvoiceInstitutionScopepageinfoQueryResponseModel, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AlipayEbppInvoiceInstitutionScopepageinfoQueryResponseModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AlipayEbppInvoiceInstitutionScopepageinfoAPIService.AlipayEbppInvoiceInstitutionScopepageinfoQuery")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/alipay/ebpp/invoice/institution/scopepageinfo/query"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}


	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "account_id", r.accountId, "form", "")
	}
	if r.agreementNo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "agreement_no", r.agreementNo, "form", "")
	}
	if r.enterpriseId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "enterprise_id", r.enterpriseId, "form", "")
	}
	if r.institutionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "institution_id", r.institutionId, "form", "")
	}
	if r.ownerType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "owner_type", r.ownerType, "form", "")
	}
	if r.pageNum != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_num", r.pageNum, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "form", "")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// Add signing logic
	err = a.signRequest(req)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	// Add verification logic
	err = a.verifyResponse(localVarHTTPResponse, localVarBody)
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v AlipayEbppInvoiceInstitutionScopepageinfoQueryDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}


func (a *AlipayEbppInvoiceInstitutionScopepageinfoAPIService) signRequest(req *http.Request) error {
	appID := a.client.cfg.AppID
	appCertSN := a.client.cfg.AppCertSN
	privateKey := a.client.cfg.PrivateKey

	nonce := generateUUID()
	timestamp := strconv.FormatInt(time.Now().UnixNano()/1e6, 10)

	authString := fmt.Sprintf("app_id=%s", appID)
	if appCertSN != "" {
		authString += fmt.Sprintf(",app_cert_sn=%s", appCertSN)
	}
	authString += fmt.Sprintf(",nonce=%s,timestamp=%s", nonce, timestamp)

	httpMethod := req.Method
	httpRequestUri := req.URL.Path
	if req.URL.RawQuery != "" {
		httpRequestUri += "?" + req.URL.RawQuery
	}

	var httpRequestBody string
	if req.Body != nil {
		bodyBytes, err := io.ReadAll(req.Body)
		if err != nil {
			return err
		}
		httpRequestBody = string(bodyBytes)
		req.Body = io.NopCloser(bytes.NewBuffer(bodyBytes))
	}

	content := authString + "\n" +
		httpMethod + "\n" +
		httpRequestUri + "\n" +
		httpRequestBody + "\n"

	if appAuthToken := req.Header.Get("alipay-app-auth-token"); appAuthToken != "" {
		content += appAuthToken + "\n"
	}

	signature, err := signWithRSA(content, privateKey)
	if err != nil {
		return err
	}

	req.Header.Set("Authorization", fmt.Sprintf("ALIPAY-SHA256withRSA %s,sign=%s", authString, signature))
	return nil
}

func (a *AlipayEbppInvoiceInstitutionScopepageinfoAPIService) verifyResponse(resp *http.Response, body []byte) error {
	timestamp := resp.Header.Get("alipay-timestamp")
	nonce := resp.Header.Get("alipay-nonce")
	sign := resp.Header.Get("alipay-signature")

	content := timestamp + "\n" +
		nonce + "\n" +
		string(body) + "\n"

	publicKey := a.client.cfg.PublicKey

	return verifyWithRSA(content, sign, publicKey)
}


