/*
支付宝开放平台API

支付宝开放平台v3协议文档

API version: 2024-07-05
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package alipay

import (
	"bytes"
	"context"
	"fmt"
	"io"
	"net/http"
	"net/url"
	"strconv"
	"time"
)

// AlipayFundJointaccountBillAPIService AlipayFundJointaccountBillAPI service
type AlipayFundJointaccountBillAPIService service

type ApiAlipayFundJointaccountBillQueryRequest struct {
	ctx         context.Context
	ApiService  *AlipayFundJointaccountBillAPIService
	productCode *string
	bizScene    *string
	accountId   *string
	pageNum     *string
	pageSize    *string
	userId      *string
	openId      *string
	startDate   *string
	endDate     *string
	agreementNo *string
}

// 因公付产品码
func (r ApiAlipayFundJointaccountBillQueryRequest) ProductCode(productCode string) ApiAlipayFundJointaccountBillQueryRequest {
	r.productCode = &productCode
	return r
}

// 业务场景
func (r ApiAlipayFundJointaccountBillQueryRequest) BizScene(bizScene string) ApiAlipayFundJointaccountBillQueryRequest {
	r.bizScene = &bizScene
	return r
}

// 账户ID
func (r ApiAlipayFundJointaccountBillQueryRequest) AccountId(accountId string) ApiAlipayFundJointaccountBillQueryRequest {
	r.accountId = &accountId
	return r
}

// 采用分页查询，本参数为空或0默认显示第一页。如果输入的值大于总页数，则支付宝返回最后一页数据
func (r ApiAlipayFundJointaccountBillQueryRequest) PageNum(pageNum string) ApiAlipayFundJointaccountBillQueryRequest {
	r.pageNum = &pageNum
	return r
}

// 每页大小，不传的情况下默认20条，超过20条默认按20条查询；不足20条则按实际记录数返回
func (r ApiAlipayFundJointaccountBillQueryRequest) PageSize(pageSize string) ApiAlipayFundJointaccountBillQueryRequest {
	r.pageSize = &pageSize
	return r
}

// 员工ID
func (r ApiAlipayFundJointaccountBillQueryRequest) UserId(userId string) ApiAlipayFundJointaccountBillQueryRequest {
	r.userId = &userId
	return r
}

// 员工的openId
func (r ApiAlipayFundJointaccountBillQueryRequest) OpenId(openId string) ApiAlipayFundJointaccountBillQueryRequest {
	r.openId = &openId
	return r
}

// 起始日期
func (r ApiAlipayFundJointaccountBillQueryRequest) StartDate(startDate string) ApiAlipayFundJointaccountBillQueryRequest {
	r.startDate = &startDate
	return r
}

// 截止日期
func (r ApiAlipayFundJointaccountBillQueryRequest) EndDate(endDate string) ApiAlipayFundJointaccountBillQueryRequest {
	r.endDate = &endDate
	return r
}

// 授权协议号
func (r ApiAlipayFundJointaccountBillQueryRequest) AgreementNo(agreementNo string) ApiAlipayFundJointaccountBillQueryRequest {
	r.agreementNo = &agreementNo
	return r
}

func (r ApiAlipayFundJointaccountBillQueryRequest) Execute() (*AlipayFundJointaccountBillQueryResponseModel, *http.Response, error) {
	return r.ApiService.AlipayFundJointaccountBillQueryExecute(r)
}

/*
AlipayFundJointaccountBillQuery 因公付账单查询

因公付账单查询

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiAlipayFundJointaccountBillQueryRequest
*/
func (r *AlipayFundJointaccountBillAPIService) AlipayFundJointaccountBillQuery(ctx context.Context) ApiAlipayFundJointaccountBillQueryRequest {
	return ApiAlipayFundJointaccountBillQueryRequest{
		ApiService: r,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AlipayFundJointaccountBillQueryResponseModel
func (a *AlipayFundJointaccountBillAPIService) AlipayFundJointaccountBillQueryExecute(r ApiAlipayFundJointaccountBillQueryRequest) (*AlipayFundJointaccountBillQueryResponseModel, *http.Response, error) {
	err := a.client.prepareConfig()
	if err != nil {
		return nil, nil, &GenericOpenAPIError{error: err.Error()}
	}
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AlipayFundJointaccountBillQueryResponseModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AlipayFundJointaccountBillAPIService.AlipayFundJointaccountBillQuery")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/alipay/fund/jointaccount/bill/query"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.productCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "product_code", r.productCode, "form", "")
	}
	if r.bizScene != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "biz_scene", r.bizScene, "form", "")
	}
	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "account_id", r.accountId, "form", "")
	}
	if r.pageNum != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_num", r.pageNum, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "form", "")
	}
	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", r.userId, "form", "")
	}
	if r.openId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "open_id", r.openId, "form", "")
	}
	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_date", r.startDate, "form", "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_date", r.endDate, "form", "")
	}
	if r.agreementNo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "agreement_no", r.agreementNo, "form", "")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// Add signing logic
	err = a.signRequest(req)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	// Add verification logic
	err = a.verifyResponse(localVarHTTPResponse, localVarBody)
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v AlipayFundJointaccountBillQueryDefaultResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

func (a *AlipayFundJointaccountBillAPIService) signRequest(req *http.Request) error {
	appID := a.client.cfg.AppID
	appCertSN := a.client.cfg.AppCertSN
	nonce := generateUUID()
	timestamp := strconv.FormatInt(time.Now().UnixNano()/1e6, 10)

	authString := fmt.Sprintf("app_id=%s", appID)
	if appCertSN != "" {
		authString += fmt.Sprintf(",app_cert_sn=%s", appCertSN)
	}
	authString += fmt.Sprintf(",nonce=%s,timestamp=%s", nonce, timestamp)

	httpMethod := req.Method
	httpRequestUri := req.URL.Path
	if req.URL.RawQuery != "" {
		httpRequestUri += "?" + req.URL.RawQuery
	}

	var httpRequestBody string
	if req.Body != nil {
		bodyBytes, err := io.ReadAll(req.Body)
		if err != nil {
			return err
		}
		httpRequestBody = string(bodyBytes)
		req.Body = io.NopCloser(bytes.NewBuffer(bodyBytes))
	}

	content := authString + "\n" +
		httpMethod + "\n" +
		httpRequestUri + "\n" +
		httpRequestBody + "\n"

	if appAuthToken := req.Header.Get("alipay-app-auth-token"); appAuthToken != "" {
		content += appAuthToken + "\n"
	}

	signature, err := signWithRSA(content, a.client.cfg.privateKey)
	if err != nil {
		return err
	}

	req.Header.Set("Authorization", fmt.Sprintf("ALIPAY-SHA256withRSA %s,sign=%s", authString, signature))
	return nil
}

func (a *AlipayFundJointaccountBillAPIService) verifyResponse(resp *http.Response, body []byte) error {
	timestamp := resp.Header.Get("alipay-timestamp")
	nonce := resp.Header.Get("alipay-nonce")
	sign := resp.Header.Get("alipay-signature")

	content := timestamp + "\n" +
		nonce + "\n" +
		string(body) + "\n"

	return verifyWithRSA(content, sign, a.client.cfg.publicKey)
}
