/*
支付宝开放平台API

支付宝开放平台v3协议文档

API version: 2024-07-05
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package alipay

import (
	"bytes"
	"context"
	"fmt"
	"io"
	"net/http"
	"net/url"
	"strconv"
	"time"
)

// AlipayEbppInvoiceExpenserulesEmployeerulesAPIService AlipayEbppInvoiceExpenserulesEmployeerulesAPI service
type AlipayEbppInvoiceExpenserulesEmployeerulesAPIService service

type ApiAlipayEbppInvoiceExpenserulesEmployeerulesQueryRequest struct {
	ctx            context.Context
	ApiService     *AlipayEbppInvoiceExpenserulesEmployeerulesAPIService
	accountId      *string
	agreementNo    *string
	employeeId     *string
	employeeOpenId *string
	pageNum        *int32
	pageSize       *int32
}

// 企业ID
func (r ApiAlipayEbppInvoiceExpenserulesEmployeerulesQueryRequest) AccountId(accountId string) ApiAlipayEbppInvoiceExpenserulesEmployeerulesQueryRequest {
	r.accountId = &accountId
	return r
}

// 授权签约协议号
func (r ApiAlipayEbppInvoiceExpenserulesEmployeerulesQueryRequest) AgreementNo(agreementNo string) ApiAlipayEbppInvoiceExpenserulesEmployeerulesQueryRequest {
	r.agreementNo = &agreementNo
	return r
}

// 未切换open_id时使用此字段：员工ID
func (r ApiAlipayEbppInvoiceExpenserulesEmployeerulesQueryRequest) EmployeeId(employeeId string) ApiAlipayEbppInvoiceExpenserulesEmployeerulesQueryRequest {
	r.employeeId = &employeeId
	return r
}

// 切换open_id后使用此字段：员工的open_id
func (r ApiAlipayEbppInvoiceExpenserulesEmployeerulesQueryRequest) EmployeeOpenId(employeeOpenId string) ApiAlipayEbppInvoiceExpenserulesEmployeerulesQueryRequest {
	r.employeeOpenId = &employeeOpenId
	return r
}

// 页码，默认值为1
func (r ApiAlipayEbppInvoiceExpenserulesEmployeerulesQueryRequest) PageNum(pageNum int32) ApiAlipayEbppInvoiceExpenserulesEmployeerulesQueryRequest {
	r.pageNum = &pageNum
	return r
}

// 每页行数，默认值为20
func (r ApiAlipayEbppInvoiceExpenserulesEmployeerulesQueryRequest) PageSize(pageSize int32) ApiAlipayEbppInvoiceExpenserulesEmployeerulesQueryRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiAlipayEbppInvoiceExpenserulesEmployeerulesQueryRequest) Execute() (*AlipayEbppInvoiceExpenserulesEmployeerulesQueryResponseModel, *http.Response, error) {
	return r.ApiService.AlipayEbppInvoiceExpenserulesEmployeerulesQueryExecute(r)
}

/*
AlipayEbppInvoiceExpenserulesEmployeerulesQuery 查询员工绑定的所有费控规则

分页查询指定员工绑定的所有费控规则，默认返回所有有效和无效规则，查询结果按费控规则的创建时间倒序

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiAlipayEbppInvoiceExpenserulesEmployeerulesQueryRequest
*/
func (r *AlipayEbppInvoiceExpenserulesEmployeerulesAPIService) AlipayEbppInvoiceExpenserulesEmployeerulesQuery(ctx context.Context) ApiAlipayEbppInvoiceExpenserulesEmployeerulesQueryRequest {
	return ApiAlipayEbppInvoiceExpenserulesEmployeerulesQueryRequest{
		ApiService: r,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AlipayEbppInvoiceExpenserulesEmployeerulesQueryResponseModel
func (a *AlipayEbppInvoiceExpenserulesEmployeerulesAPIService) AlipayEbppInvoiceExpenserulesEmployeerulesQueryExecute(r ApiAlipayEbppInvoiceExpenserulesEmployeerulesQueryRequest) (*AlipayEbppInvoiceExpenserulesEmployeerulesQueryResponseModel, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AlipayEbppInvoiceExpenserulesEmployeerulesQueryResponseModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AlipayEbppInvoiceExpenserulesEmployeerulesAPIService.AlipayEbppInvoiceExpenserulesEmployeerulesQuery")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/alipay/ebpp/invoice/expenserules/employeerules/query"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "account_id", r.accountId, "form", "")
	}
	if r.agreementNo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "agreement_no", r.agreementNo, "form", "")
	}
	if r.employeeId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "employee_id", r.employeeId, "form", "")
	}
	if r.employeeOpenId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "employee_open_id", r.employeeOpenId, "form", "")
	}
	if r.pageNum != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_num", r.pageNum, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "form", "")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// Add signing logic
	err = a.signRequest(req)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	// Add verification logic
	err = a.verifyResponse(localVarHTTPResponse, localVarBody)
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v AlipayEbppInvoiceExpenserulesEmployeerulesQueryDefaultResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

func (a *AlipayEbppInvoiceExpenserulesEmployeerulesAPIService) signRequest(req *http.Request) error {
	appID := a.client.cfg.AppID
	appCertSN := a.client.cfg.AppCertSN
	privateKey := a.client.cfg.PrivateKey

	nonce := generateUUID()
	timestamp := strconv.FormatInt(time.Now().UnixNano()/1e6, 10)

	authString := fmt.Sprintf("app_id=%s", appID)
	if appCertSN != "" {
		authString += fmt.Sprintf(",app_cert_sn=%s", appCertSN)
	}
	authString += fmt.Sprintf(",nonce=%s,timestamp=%s", nonce, timestamp)

	httpMethod := req.Method
	httpRequestUri := req.URL.Path
	if req.URL.RawQuery != "" {
		httpRequestUri += "?" + req.URL.RawQuery
	}

	var httpRequestBody string
	if req.Body != nil {
		bodyBytes, err := io.ReadAll(req.Body)
		if err != nil {
			return err
		}
		httpRequestBody = string(bodyBytes)
		req.Body = io.NopCloser(bytes.NewBuffer(bodyBytes))
	}

	content := authString + "\n" +
		httpMethod + "\n" +
		httpRequestUri + "\n" +
		httpRequestBody + "\n"

	if appAuthToken := req.Header.Get("alipay-app-auth-token"); appAuthToken != "" {
		content += appAuthToken + "\n"
	}

	signature, err := signWithRSA(content, privateKey)
	if err != nil {
		return err
	}

	req.Header.Set("Authorization", fmt.Sprintf("ALIPAY-SHA256withRSA %s,sign=%s", authString, signature))
	return nil
}

func (a *AlipayEbppInvoiceExpenserulesEmployeerulesAPIService) verifyResponse(resp *http.Response, body []byte) error {
	timestamp := resp.Header.Get("alipay-timestamp")
	nonce := resp.Header.Get("alipay-nonce")
	sign := resp.Header.Get("alipay-signature")

	content := timestamp + "\n" +
		nonce + "\n" +
		string(body) + "\n"

	publicKey := a.client.cfg.PublicKey

	return verifyWithRSA(content, sign, publicKey)
}
