/*
支付宝开放平台API

支付宝开放平台v3协议文档

API version: 2024-07-05
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"fmt"
	"io"
	"net/http"
	"net/url"
	"strconv"
	"time"
)


// DatadigitalFincloudGeneralsaasFaceCertifyAPIService DatadigitalFincloudGeneralsaasFaceCertifyAPI service
type DatadigitalFincloudGeneralsaasFaceCertifyAPIService service

type ApiDatadigitalFincloudGeneralsaasFaceCertifyInitializeRequest struct {
	ctx context.Context
	ApiService *DatadigitalFincloudGeneralsaasFaceCertifyAPIService
	datadigitalFincloudGeneralsaasFaceCertifyInitializeModel *DatadigitalFincloudGeneralsaasFaceCertifyInitializeModel
}

func (r ApiDatadigitalFincloudGeneralsaasFaceCertifyInitializeRequest) DatadigitalFincloudGeneralsaasFaceCertifyInitializeModel(datadigitalFincloudGeneralsaasFaceCertifyInitializeModel DatadigitalFincloudGeneralsaasFaceCertifyInitializeModel) ApiDatadigitalFincloudGeneralsaasFaceCertifyInitializeRequest {
	r.datadigitalFincloudGeneralsaasFaceCertifyInitializeModel = &datadigitalFincloudGeneralsaasFaceCertifyInitializeModel
	return r
}

func (r ApiDatadigitalFincloudGeneralsaasFaceCertifyInitializeRequest) Execute() (*DatadigitalFincloudGeneralsaasFaceCertifyInitializeResponseModel, *http.Response, error) {
	return r.ApiService.DatadigitalFincloudGeneralsaasFaceCertifyInitializeExecute(r)
}

/*
DatadigitalFincloudGeneralsaasFaceCertifyInitialize H5人脸核身初始化

人脸核身初始化服务，用于创建认证流程。供外部客户使用该项服务。

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDatadigitalFincloudGeneralsaasFaceCertifyInitializeRequest
*/
func (r *DatadigitalFincloudGeneralsaasFaceCertifyAPIService) DatadigitalFincloudGeneralsaasFaceCertifyInitialize(ctx context.Context) ApiDatadigitalFincloudGeneralsaasFaceCertifyInitializeRequest {
	return ApiDatadigitalFincloudGeneralsaasFaceCertifyInitializeRequest{
		ApiService: r,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return DatadigitalFincloudGeneralsaasFaceCertifyInitializeResponseModel
func (a *DatadigitalFincloudGeneralsaasFaceCertifyAPIService) DatadigitalFincloudGeneralsaasFaceCertifyInitializeExecute(r ApiDatadigitalFincloudGeneralsaasFaceCertifyInitializeRequest) (*DatadigitalFincloudGeneralsaasFaceCertifyInitializeResponseModel, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DatadigitalFincloudGeneralsaasFaceCertifyInitializeResponseModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DatadigitalFincloudGeneralsaasFaceCertifyAPIService.DatadigitalFincloudGeneralsaasFaceCertifyInitialize")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/datadigital/fincloud/generalsaas/face/certify/initialize"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}



	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.datadigitalFincloudGeneralsaasFaceCertifyInitializeModel

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// Add signing logic
	err = a.signRequest(req)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	// Add verification logic
	err = a.verifyResponse(localVarHTTPResponse, localVarBody)
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v DatadigitalFincloudGeneralsaasFaceCertifyInitializeDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}


type ApiDatadigitalFincloudGeneralsaasFaceCertifyQueryRequest struct {
	ctx context.Context
	ApiService *DatadigitalFincloudGeneralsaasFaceCertifyAPIService
	certifyId *string
}

// 本次申请操作的唯一标识，通过datadigital.fincloud.generalsaas.face.certify.initialize 接口同步响应获取。
func (r ApiDatadigitalFincloudGeneralsaasFaceCertifyQueryRequest) CertifyId(certifyId string) ApiDatadigitalFincloudGeneralsaasFaceCertifyQueryRequest {
	r.certifyId = &certifyId
	return r
}

func (r ApiDatadigitalFincloudGeneralsaasFaceCertifyQueryRequest) Execute() (*DatadigitalFincloudGeneralsaasFaceCertifyQueryResponseModel, *http.Response, error) {
	return r.ApiService.DatadigitalFincloudGeneralsaasFaceCertifyQueryExecute(r)
}

/*
DatadigitalFincloudGeneralsaasFaceCertifyQuery H5人脸核身查询记录

商户在用户使用支付宝完成刷脸之后，调用本接口查询核身结果状态及相关数据

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDatadigitalFincloudGeneralsaasFaceCertifyQueryRequest
*/
func (r *DatadigitalFincloudGeneralsaasFaceCertifyAPIService) DatadigitalFincloudGeneralsaasFaceCertifyQuery(ctx context.Context) ApiDatadigitalFincloudGeneralsaasFaceCertifyQueryRequest {
	return ApiDatadigitalFincloudGeneralsaasFaceCertifyQueryRequest{
		ApiService: r,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return DatadigitalFincloudGeneralsaasFaceCertifyQueryResponseModel
func (a *DatadigitalFincloudGeneralsaasFaceCertifyAPIService) DatadigitalFincloudGeneralsaasFaceCertifyQueryExecute(r ApiDatadigitalFincloudGeneralsaasFaceCertifyQueryRequest) (*DatadigitalFincloudGeneralsaasFaceCertifyQueryResponseModel, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DatadigitalFincloudGeneralsaasFaceCertifyQueryResponseModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DatadigitalFincloudGeneralsaasFaceCertifyAPIService.DatadigitalFincloudGeneralsaasFaceCertifyQuery")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/datadigital/fincloud/generalsaas/face/certify/query"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}


	if r.certifyId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "certify_id", r.certifyId, "form", "")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// Add signing logic
	err = a.signRequest(req)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	// Add verification logic
	err = a.verifyResponse(localVarHTTPResponse, localVarBody)
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v DatadigitalFincloudGeneralsaasFaceCertifyQueryDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}


type ApiDatadigitalFincloudGeneralsaasFaceCertifyVerifyRequest struct {
	ctx context.Context
	ApiService *DatadigitalFincloudGeneralsaasFaceCertifyAPIService
	datadigitalFincloudGeneralsaasFaceCertifyVerifyModel *DatadigitalFincloudGeneralsaasFaceCertifyVerifyModel
}

func (r ApiDatadigitalFincloudGeneralsaasFaceCertifyVerifyRequest) DatadigitalFincloudGeneralsaasFaceCertifyVerifyModel(datadigitalFincloudGeneralsaasFaceCertifyVerifyModel DatadigitalFincloudGeneralsaasFaceCertifyVerifyModel) ApiDatadigitalFincloudGeneralsaasFaceCertifyVerifyRequest {
	r.datadigitalFincloudGeneralsaasFaceCertifyVerifyModel = &datadigitalFincloudGeneralsaasFaceCertifyVerifyModel
	return r
}

func (r ApiDatadigitalFincloudGeneralsaasFaceCertifyVerifyRequest) Execute() (*DatadigitalFincloudGeneralsaasFaceCertifyVerifyResponseModel, *http.Response, error) {
	return r.ApiService.DatadigitalFincloudGeneralsaasFaceCertifyVerifyExecute(r)
}

/*
DatadigitalFincloudGeneralsaasFaceCertifyVerify H5人脸核身开始认证

H5人脸核身服务开始认证。请根据返回结果渲染页面。

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDatadigitalFincloudGeneralsaasFaceCertifyVerifyRequest
*/
func (r *DatadigitalFincloudGeneralsaasFaceCertifyAPIService) DatadigitalFincloudGeneralsaasFaceCertifyVerify(ctx context.Context) ApiDatadigitalFincloudGeneralsaasFaceCertifyVerifyRequest {
	return ApiDatadigitalFincloudGeneralsaasFaceCertifyVerifyRequest{
		ApiService: r,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return DatadigitalFincloudGeneralsaasFaceCertifyVerifyResponseModel
func (a *DatadigitalFincloudGeneralsaasFaceCertifyAPIService) DatadigitalFincloudGeneralsaasFaceCertifyVerifyExecute(r ApiDatadigitalFincloudGeneralsaasFaceCertifyVerifyRequest) (*DatadigitalFincloudGeneralsaasFaceCertifyVerifyResponseModel, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DatadigitalFincloudGeneralsaasFaceCertifyVerifyResponseModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DatadigitalFincloudGeneralsaasFaceCertifyAPIService.DatadigitalFincloudGeneralsaasFaceCertifyVerify")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/datadigital/fincloud/generalsaas/face/certify/verify"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}



	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.datadigitalFincloudGeneralsaasFaceCertifyVerifyModel

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// Add signing logic
	err = a.signRequest(req)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	// Add verification logic
	err = a.verifyResponse(localVarHTTPResponse, localVarBody)
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v DatadigitalFincloudGeneralsaasFaceCertifyVerifyDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}


func (a *DatadigitalFincloudGeneralsaasFaceCertifyAPIService) signRequest(req *http.Request) error {
	appID := a.client.cfg.AppID
	appCertSN := a.client.cfg.AppCertSN
	privateKey := a.client.cfg.PrivateKey

	nonce := generateUUID()
	timestamp := strconv.FormatInt(time.Now().UnixNano()/1e6, 10)

	authString := fmt.Sprintf("app_id=%s", appID)
	if appCertSN != "" {
		authString += fmt.Sprintf(",app_cert_sn=%s", appCertSN)
	}
	authString += fmt.Sprintf(",nonce=%s,timestamp=%s", nonce, timestamp)

	httpMethod := req.Method
	httpRequestUri := req.URL.Path
	if req.URL.RawQuery != "" {
		httpRequestUri += "?" + req.URL.RawQuery
	}

	var httpRequestBody string
	if req.Body != nil {
		bodyBytes, err := io.ReadAll(req.Body)
		if err != nil {
			return err
		}
		httpRequestBody = string(bodyBytes)
		req.Body = io.NopCloser(bytes.NewBuffer(bodyBytes))
	}

	content := authString + "\n" +
		httpMethod + "\n" +
		httpRequestUri + "\n" +
		httpRequestBody + "\n"

	if appAuthToken := req.Header.Get("alipay-app-auth-token"); appAuthToken != "" {
		content += appAuthToken + "\n"
	}

	signature, err := signWithRSA(content, privateKey)
	if err != nil {
		return err
	}

	req.Header.Set("Authorization", fmt.Sprintf("ALIPAY-SHA256withRSA %s,sign=%s", authString, signature))
	return nil
}

func (a *DatadigitalFincloudGeneralsaasFaceCertifyAPIService) verifyResponse(resp *http.Response, body []byte) error {
	timestamp := resp.Header.Get("alipay-timestamp")
	nonce := resp.Header.Get("alipay-nonce")
	sign := resp.Header.Get("alipay-signature")

	content := timestamp + "\n" +
		nonce + "\n" +
		string(body) + "\n"

	publicKey := a.client.cfg.PublicKey

	return verifyWithRSA(content, sign, publicKey)
}


