/*
支付宝开放平台API

支付宝开放平台v3协议文档

API version: 2024-07-05
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package alipay

import (
	"bytes"
	"context"
	"fmt"
	"io"
	"net/http"
	"net/url"
	"strconv"
	"time"
)

// AlipayEbppInvoiceMerchantEnterstatusAPIService AlipayEbppInvoiceMerchantEnterstatusAPI service
type AlipayEbppInvoiceMerchantEnterstatusAPIService service

type ApiAlipayEbppInvoiceMerchantEnterstatusQueryRequest struct {
	ctx         context.Context
	ApiService  *AlipayEbppInvoiceMerchantEnterstatusAPIService
	mShortName  *string
	productCode *string
	processId   *string
}

// 商户品牌简称，只能由大写字母、下划线、数字组成，且必须以大写字母开头。
func (r ApiAlipayEbppInvoiceMerchantEnterstatusQueryRequest) MShortName(mShortName string) ApiAlipayEbppInvoiceMerchantEnterstatusQueryRequest {
	r.mShortName = &mShortName
	return r
}

// 商户门店入驻的产品码,STANDARD_INVOICE:扫码开票，INVOICE_RETURN:企业自建-发票回传，INVOICE_EXPENSE:发票报销，PAYMENT_OPEN:支付即开票，PAY_FEE_OPEN:缴费后开票。
func (r ApiAlipayEbppInvoiceMerchantEnterstatusQueryRequest) ProductCode(productCode string) ApiAlipayEbppInvoiceMerchantEnterstatusQueryRequest {
	r.productCode = &productCode
	return r
}

// 工单流水号（如果不填则默认查询最近一条工单）
func (r ApiAlipayEbppInvoiceMerchantEnterstatusQueryRequest) ProcessId(processId string) ApiAlipayEbppInvoiceMerchantEnterstatusQueryRequest {
	r.processId = &processId
	return r
}

func (r ApiAlipayEbppInvoiceMerchantEnterstatusQueryRequest) Execute() (*AlipayEbppInvoiceMerchantEnterstatusQueryResponseModel, *http.Response, error) {
	return r.ApiService.AlipayEbppInvoiceMerchantEnterstatusQueryExecute(r)
}

/*
AlipayEbppInvoiceMerchantEnterstatusQuery 商户入驻流程状态查询

提供给替商户批量入驻的服务商，主动查询入驻流程的状态。

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiAlipayEbppInvoiceMerchantEnterstatusQueryRequest
*/
func (r *AlipayEbppInvoiceMerchantEnterstatusAPIService) AlipayEbppInvoiceMerchantEnterstatusQuery(ctx context.Context) ApiAlipayEbppInvoiceMerchantEnterstatusQueryRequest {
	return ApiAlipayEbppInvoiceMerchantEnterstatusQueryRequest{
		ApiService: r,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AlipayEbppInvoiceMerchantEnterstatusQueryResponseModel
func (a *AlipayEbppInvoiceMerchantEnterstatusAPIService) AlipayEbppInvoiceMerchantEnterstatusQueryExecute(r ApiAlipayEbppInvoiceMerchantEnterstatusQueryRequest) (*AlipayEbppInvoiceMerchantEnterstatusQueryResponseModel, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AlipayEbppInvoiceMerchantEnterstatusQueryResponseModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AlipayEbppInvoiceMerchantEnterstatusAPIService.AlipayEbppInvoiceMerchantEnterstatusQuery")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/alipay/ebpp/invoice/merchant/enterstatus/query"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.mShortName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "m_short_name", r.mShortName, "form", "")
	}
	if r.productCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "product_code", r.productCode, "form", "")
	}
	if r.processId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "process_id", r.processId, "form", "")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// Add signing logic
	err = a.signRequest(req)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	// Add verification logic
	err = a.verifyResponse(localVarHTTPResponse, localVarBody)
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v AlipayEbppInvoiceMerchantEnterstatusQueryDefaultResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

func (a *AlipayEbppInvoiceMerchantEnterstatusAPIService) signRequest(req *http.Request) error {
	appID := a.client.cfg.AppID
	appCertSN := a.client.cfg.AppCertSN
	privateKey := a.client.cfg.PrivateKey

	nonce := generateUUID()
	timestamp := strconv.FormatInt(time.Now().UnixNano()/1e6, 10)

	authString := fmt.Sprintf("app_id=%s", appID)
	if appCertSN != "" {
		authString += fmt.Sprintf(",app_cert_sn=%s", appCertSN)
	}
	authString += fmt.Sprintf(",nonce=%s,timestamp=%s", nonce, timestamp)

	httpMethod := req.Method
	httpRequestUri := req.URL.Path
	if req.URL.RawQuery != "" {
		httpRequestUri += "?" + req.URL.RawQuery
	}

	var httpRequestBody string
	if req.Body != nil {
		bodyBytes, err := io.ReadAll(req.Body)
		if err != nil {
			return err
		}
		httpRequestBody = string(bodyBytes)
		req.Body = io.NopCloser(bytes.NewBuffer(bodyBytes))
	}

	content := authString + "\n" +
		httpMethod + "\n" +
		httpRequestUri + "\n" +
		httpRequestBody + "\n"

	if appAuthToken := req.Header.Get("alipay-app-auth-token"); appAuthToken != "" {
		content += appAuthToken + "\n"
	}

	signature, err := signWithRSA(content, privateKey)
	if err != nil {
		return err
	}

	req.Header.Set("Authorization", fmt.Sprintf("ALIPAY-SHA256withRSA %s,sign=%s", authString, signature))
	return nil
}

func (a *AlipayEbppInvoiceMerchantEnterstatusAPIService) verifyResponse(resp *http.Response, body []byte) error {
	timestamp := resp.Header.Get("alipay-timestamp")
	nonce := resp.Header.Get("alipay-nonce")
	sign := resp.Header.Get("alipay-signature")

	content := timestamp + "\n" +
		nonce + "\n" +
		string(body) + "\n"

	publicKey := a.client.cfg.PublicKey

	return verifyWithRSA(content, sign, publicKey)
}
