/*
支付宝开放平台API

支付宝开放平台v3协议文档

API version: 2024-07-05
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"fmt"
	"io"
	"net/http"
	"net/url"
	"strconv"
	"time"
)


// DatadigitalFincloudGeneralsaasFaceCheckAPIService DatadigitalFincloudGeneralsaasFaceCheckAPI service
type DatadigitalFincloudGeneralsaasFaceCheckAPIService service

type ApiDatadigitalFincloudGeneralsaasFaceCheckInitializeRequest struct {
	ctx context.Context
	ApiService *DatadigitalFincloudGeneralsaasFaceCheckAPIService
	datadigitalFincloudGeneralsaasFaceCheckInitializeModel *DatadigitalFincloudGeneralsaasFaceCheckInitializeModel
}

func (r ApiDatadigitalFincloudGeneralsaasFaceCheckInitializeRequest) DatadigitalFincloudGeneralsaasFaceCheckInitializeModel(datadigitalFincloudGeneralsaasFaceCheckInitializeModel DatadigitalFincloudGeneralsaasFaceCheckInitializeModel) ApiDatadigitalFincloudGeneralsaasFaceCheckInitializeRequest {
	r.datadigitalFincloudGeneralsaasFaceCheckInitializeModel = &datadigitalFincloudGeneralsaasFaceCheckInitializeModel
	return r
}

func (r ApiDatadigitalFincloudGeneralsaasFaceCheckInitializeRequest) Execute() (*DatadigitalFincloudGeneralsaasFaceCheckInitializeResponseModel, *http.Response, error) {
	return r.ApiService.DatadigitalFincloudGeneralsaasFaceCheckInitializeExecute(r)
}

/*
DatadigitalFincloudGeneralsaasFaceCheckInitialize 活体检测初始化

人脸检测业务单据初始化

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDatadigitalFincloudGeneralsaasFaceCheckInitializeRequest
*/
func (r *DatadigitalFincloudGeneralsaasFaceCheckAPIService) DatadigitalFincloudGeneralsaasFaceCheckInitialize(ctx context.Context) ApiDatadigitalFincloudGeneralsaasFaceCheckInitializeRequest {
	return ApiDatadigitalFincloudGeneralsaasFaceCheckInitializeRequest{
		ApiService: r,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return DatadigitalFincloudGeneralsaasFaceCheckInitializeResponseModel
func (a *DatadigitalFincloudGeneralsaasFaceCheckAPIService) DatadigitalFincloudGeneralsaasFaceCheckInitializeExecute(r ApiDatadigitalFincloudGeneralsaasFaceCheckInitializeRequest) (*DatadigitalFincloudGeneralsaasFaceCheckInitializeResponseModel, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DatadigitalFincloudGeneralsaasFaceCheckInitializeResponseModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DatadigitalFincloudGeneralsaasFaceCheckAPIService.DatadigitalFincloudGeneralsaasFaceCheckInitialize")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/datadigital/fincloud/generalsaas/face/check/initialize"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}



	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.datadigitalFincloudGeneralsaasFaceCheckInitializeModel

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// Add signing logic
	err = a.signRequest(req)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	// Add verification logic
	err = a.verifyResponse(localVarHTTPResponse, localVarBody)
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v DatadigitalFincloudGeneralsaasFaceCheckInitializeDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}


type ApiDatadigitalFincloudGeneralsaasFaceCheckQueryRequest struct {
	ctx context.Context
	ApiService *DatadigitalFincloudGeneralsaasFaceCheckAPIService
	certifyId *string
	needAlivePhoto *string
	needScore *string
	needQualityScore *string
	needAttackResult *string
}

// 传入初始化接口datadigital.fincloud.generalsaas.face.check.initialize 得到的certify_id
func (r ApiDatadigitalFincloudGeneralsaasFaceCheckQueryRequest) CertifyId(certifyId string) ApiDatadigitalFincloudGeneralsaasFaceCheckQueryRequest {
	r.certifyId = &certifyId
	return r
}

// 是否需要返回活体结果图片，needAlivePhoto：Y_O （原始图片）、Y_M（虚化，背景马赛克）、N（不返图）。非必填，默认为N
func (r ApiDatadigitalFincloudGeneralsaasFaceCheckQueryRequest) NeedAlivePhoto(needAlivePhoto string) ApiDatadigitalFincloudGeneralsaasFaceCheckQueryRequest {
	r.needAlivePhoto = &needAlivePhoto
	return r
}

// 该入参已经废弃。
func (r ApiDatadigitalFincloudGeneralsaasFaceCheckQueryRequest) NeedScore(needScore string) ApiDatadigitalFincloudGeneralsaasFaceCheckQueryRequest {
	r.needScore = &needScore
	return r
}

// 是否需要返回图片质量分，非必填，默认值为N。 N表示不需要，Y表示需要
func (r ApiDatadigitalFincloudGeneralsaasFaceCheckQueryRequest) NeedQualityScore(needQualityScore string) ApiDatadigitalFincloudGeneralsaasFaceCheckQueryRequest {
	r.needQualityScore = &needQualityScore
	return r
}

// 该参数已废弃
func (r ApiDatadigitalFincloudGeneralsaasFaceCheckQueryRequest) NeedAttackResult(needAttackResult string) ApiDatadigitalFincloudGeneralsaasFaceCheckQueryRequest {
	r.needAttackResult = &needAttackResult
	return r
}

func (r ApiDatadigitalFincloudGeneralsaasFaceCheckQueryRequest) Execute() (*DatadigitalFincloudGeneralsaasFaceCheckQueryResponseModel, *http.Response, error) {
	return r.ApiService.DatadigitalFincloudGeneralsaasFaceCheckQueryExecute(r)
}

/*
DatadigitalFincloudGeneralsaasFaceCheckQuery 活体检测结果查询

用于查询活体检测结果。

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDatadigitalFincloudGeneralsaasFaceCheckQueryRequest
*/
func (r *DatadigitalFincloudGeneralsaasFaceCheckAPIService) DatadigitalFincloudGeneralsaasFaceCheckQuery(ctx context.Context) ApiDatadigitalFincloudGeneralsaasFaceCheckQueryRequest {
	return ApiDatadigitalFincloudGeneralsaasFaceCheckQueryRequest{
		ApiService: r,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return DatadigitalFincloudGeneralsaasFaceCheckQueryResponseModel
func (a *DatadigitalFincloudGeneralsaasFaceCheckAPIService) DatadigitalFincloudGeneralsaasFaceCheckQueryExecute(r ApiDatadigitalFincloudGeneralsaasFaceCheckQueryRequest) (*DatadigitalFincloudGeneralsaasFaceCheckQueryResponseModel, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DatadigitalFincloudGeneralsaasFaceCheckQueryResponseModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DatadigitalFincloudGeneralsaasFaceCheckAPIService.DatadigitalFincloudGeneralsaasFaceCheckQuery")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/datadigital/fincloud/generalsaas/face/check/query"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}


	if r.certifyId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "certify_id", r.certifyId, "form", "")
	}
	if r.needAlivePhoto != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "need_alive_photo", r.needAlivePhoto, "form", "")
	}
	if r.needScore != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "need_score", r.needScore, "form", "")
	}
	if r.needQualityScore != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "need_quality_score", r.needQualityScore, "form", "")
	}
	if r.needAttackResult != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "need_attack_result", r.needAttackResult, "form", "")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// Add signing logic
	err = a.signRequest(req)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	// Add verification logic
	err = a.verifyResponse(localVarHTTPResponse, localVarBody)
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v DatadigitalFincloudGeneralsaasFaceCheckQueryDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}


func (a *DatadigitalFincloudGeneralsaasFaceCheckAPIService) signRequest(req *http.Request) error {
	appID := a.client.cfg.AppID
	appCertSN := a.client.cfg.AppCertSN
	privateKey := a.client.cfg.PrivateKey

	nonce := generateUUID()
	timestamp := strconv.FormatInt(time.Now().UnixNano()/1e6, 10)

	authString := fmt.Sprintf("app_id=%s", appID)
	if appCertSN != "" {
		authString += fmt.Sprintf(",app_cert_sn=%s", appCertSN)
	}
	authString += fmt.Sprintf(",nonce=%s,timestamp=%s", nonce, timestamp)

	httpMethod := req.Method
	httpRequestUri := req.URL.Path
	if req.URL.RawQuery != "" {
		httpRequestUri += "?" + req.URL.RawQuery
	}

	var httpRequestBody string
	if req.Body != nil {
		bodyBytes, err := io.ReadAll(req.Body)
		if err != nil {
			return err
		}
		httpRequestBody = string(bodyBytes)
		req.Body = io.NopCloser(bytes.NewBuffer(bodyBytes))
	}

	content := authString + "\n" +
		httpMethod + "\n" +
		httpRequestUri + "\n" +
		httpRequestBody + "\n"

	if appAuthToken := req.Header.Get("alipay-app-auth-token"); appAuthToken != "" {
		content += appAuthToken + "\n"
	}

	signature, err := signWithRSA(content, privateKey)
	if err != nil {
		return err
	}

	req.Header.Set("Authorization", fmt.Sprintf("ALIPAY-SHA256withRSA %s,sign=%s", authString, signature))
	return nil
}

func (a *DatadigitalFincloudGeneralsaasFaceCheckAPIService) verifyResponse(resp *http.Response, body []byte) error {
	timestamp := resp.Header.Get("alipay-timestamp")
	nonce := resp.Header.Get("alipay-nonce")
	sign := resp.Header.Get("alipay-signature")

	content := timestamp + "\n" +
		nonce + "\n" +
		string(body) + "\n"

	publicKey := a.client.cfg.PublicKey

	return verifyWithRSA(content, sign, publicKey)
}


